<template>
  <b-container>
    <div class="mt-3" v-for="mark in marks" :key="mark.id">
      <b-row>
        <b-col>
          <h5>{{ mark.subjectName }}</h5>
        </b-col>
        <b-col cols="auto">
          <b-button class="mb-1" size="sm" variant="info" @click="mark.toggle = !mark.toggle">
            {{ mark.toggle ? 'Скрыть' : 'Показать' }}
          </b-button>
        </b-col>
      </b-row>
      <b-collapse visible v-model="mark.toggle">
        <b-table
          hover
          striped
          bordered
          outlined
          :busy="isBusy"
          responsive="sm"
          :fields="fields"
          :items="mark.items"
          v-if="mark.items.length"
        >
          <template v-slot:table-busy>
            <div class="text-center text-success my-2">
              <b-spinner class="align-middle"></b-spinner>
            </div>
          </template>

          <template v-slot:cell(lessonName)="{ item }">
            <div style="width: 400px">{{ item.lessonName }}</div>
          </template>

          <template v-slot:cell(testsMark)="row">
            <div class="text-center text-success my-2">{{ row.item.testsMark }}</div>
          </template>

          <template v-slot:cell(textExercisesMarks)="row">
            <span class="text-success" v-for="(mark, $ind) in row.item.textExercisesMarks" :key="$ind * mark">
              {{ mark + ($ind + 1 == row.item.textExercisesMarks.length ? '. ' : ', ') }}
            </span>
            <br />Суммарно:
            <strong class="text-info">
              {{ row.item.textExercisesMarks ? summary(row.item.textExercisesMarks) : '' }} б.
            </strong>
          </template>

          <template v-slot:cell(openQuestionsMarks)="row">
            <span class="text-success" v-for="(mark, $ind) in row.item.openQuestionsMarks" :key="$ind * mark">
              {{ mark + ($ind + 1 == row.item.openQuestionsMarks.length ? '. ' : ', ') }}
            </span>
            <br />Суммарно:
            <strong class="text-info">{{ summary(row.item.openQuestionsMarks) }} б.</strong>
          </template>
        </b-table>
        <p class="text-muted" v-else>Оценок нет</p>
      </b-collapse>
      <hr />
    </div>
  </b-container>
</template>
<script>
export default {
  components: {},
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  mounted() {
    this.isBusy = true

    this.$store.commit('collections/setTitle', 'Мои оценки')

    this.$http
      .get(`/api/mark`)
      .then((response) => {
        this.marks = response.data.data.map((item) => {
          return { ...item, toggle: true }
        })
      })
      .catch((e) => {})
      .then(() => {
        this.isBusy = false
      })
  },
  data() {
    return {
      isBusy: false,
      marks: [],
      fields: [
        { key: 'lessonName', label: 'Тема' },
        { key: 'testsMark', label: 'Тесты' },
        { key: 'textExercisesMarks', label: 'Самостоятельные работы' },
        { key: 'openQuestionsMarks', label: 'Открытые тесты' },
      ],
    }
  },
  methods: {
    summary(marks) {
      if (marks.length) return marks.reduce((acc, mark) => acc + mark)
      else return 0
    },
  },
}
</script>