﻿<template>
  <div>
    <div>
      <h3>Задания</h3>
      <!-- <h5 class="text-danger">Осталось {{countDown(exam.durationInMinutes)}}</h5> -->
    </div>
    <vue-countdown-timer
      @start_callback="startCallBack('event started')"
      @end_callback="endCallBack('event ended')"
      :start-time="start"
      :end-time="end"
      :interval="1000"
      :start-label="'До начала экзамена осталось'"
      :end-label="'До конца экзамена осталось'"
      label-position="begin"
      :end-text="'Время истекло!'"
    >
      <template slot="start-label" slot-scope="scope">
        <span
          style="color: red"
          v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'begin'"
        >
          {{ scope.props.startLabel }}:
        </span>
        <span
          style="color: blue"
          v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'begin'"
        >
          {{ scope.props.endLabel }}:
        </span>
      </template>

      <template slot="countdown" slot-scope="scope">
        <span>{{ scope.props.hours }}</span>
        <i>{{ scope.props.hourTxt }}</i>
        <span>{{ scope.props.minutes }}</span>
        <i>{{ scope.props.minutesTxt }}</i>
        <span>{{ scope.props.seconds }}</span>
      </template>

      <template slot="end-label" slot-scope="scope">
        <span
          style="color: red"
          v-if="scope.props.startLabel !== '' && scope.props.tips && scope.props.labelPosition === 'end'"
        >
          {{ scope.props.startLabel }}:
        </span>
        <span
          style="color: blue"
          v-if="scope.props.endLabel !== '' && !scope.props.tips && scope.props.labelPosition === 'end'"
        >
          {{ scope.props.endLabel }}:
        </span>
      </template>

      <template slot="end-text" slot-scope="scope">
        <span style="color: green">{{ scope.props.endText }}</span>
      </template>
    </vue-countdown-timer>

    <!-- Самостоятельные работы -->
    <!-- <b-overlay :show="show.textExercise">
      <b-card header-bg-variant="warning" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Самостоятельные работы</h5>
          <b-button
            variant="light"
            class="float-right"
            @click="collapse.textExercises = !collapse.textExercises"
          >
            <fa :icon="`${collapse.textExercises ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.textExercises" class="mt-2" v-if="textExercises.length">
          <transition-group name="list-complete" class="row">
            <b-col
              cols="12"
              class="mt-3 list-complete-item"
              v-for="(text, $i) in textExercises"
              :key="$i + 'kek'"
            >
              <b-form-group>
                <strong>Задание №{{$i+1}}</strong>
                <p>{{text.question}}</p>
                <b-form-file :state="text.fileState" @input="upload(text)" v-model="file"></b-form-file>
              </b-form-group>
            </b-col>
          </transition-group>

          <b-row align-h="end">
            <b-col cols="auto">
              <b-button @click="answerTextExercise" variant="warning">
                <fa icon="paper-plane" />
                <span>Отправить задание</span>
              </b-button>
            </b-col>
          </b-row>
        </b-collapse>
        <div v-else>Вы уже отправили ответы на самостоятельные работы!</div>
      </b-card>
    </b-overlay>-->

    <!-- Открытые тесты -->
    <!-- <b-overlay :show="show.openTest">
      <b-card header-bg-variant="success" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Открытые тесты</h5>
          <b-button
            variant="light"
            class="float-right"
            @click="collapse.openQuestions = !collapse.openQuestions"
          >
            <fa :icon="`${collapse.openQuestions ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.openQuestions" v-if="openQuestions.length">
          <transition-group name="list-complete" class="row">
            <b-col
              cols="12"
              v-for="(openTest, $i) in openQuestions"
              :key="$i + 'open'"
              class="mt-3 list-complete-item"
            >
              <strong>Вопрос №{{$i+1}}:</strong>
              <p>{{openTest.question}}</p>
              <b-form-textarea
                :state="!!openTest.answer"
                v-model="openTest.answer"
                placeholder="Вопрос теста"
                rows="3"
              ></b-form-textarea>
            </b-col>
          </transition-group>

          <b-row align-h="end" class="mt-2">
            <b-col cols="auto">
              <b-button @click="answerOpenTestQuestion" variant="success">
                <fa icon="save" />
                <span>Сохранить Открытые тесты</span>
              </b-button>
            </b-col>
          </b-row>
        </b-collapse>
        <div v-else>Вы уже отправили ответы на открытый тест!</div>
      </b-card>
    </b-overlay>-->

    <!-- Тесты -->
    <b-overlay :show="show.test">
      <b-card header-bg-variant="danger" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Тесты</h5>
          <b-button variant="light" class="float-right" @click="collapse.test = !collapse.test">
            <fa :icon="`${collapse.test ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.test" v-if="tests.length">
          <!-- <transition-group name="list-complete" class="row"> -->
          <b-form @submit.prevent="answerTest">
            <div class="mt-2" v-for="(lessonTest, $i) in tests" :key="$i">
              <h6>{{ $i + 1 }}. {{ lessonTest.question }}</h6>
              <b-form-radio
                v-for="(answer, $j) in lessonTest.answers"
                :key="$j"
                :value="answer.id"
                :name="lessonTest.question"
                v-model="lessonTest.examinationPossibleAnswerId"
                required
              >
                {{ answer.answer }}
              </b-form-radio>
            </div>
            <div class="mt-2 text-right">
              <b-button type="submit" variant="danger">Отправить</b-button>
            </div>
          </b-form>
        </b-collapse>
        <div v-else-if="!testMark">
          <p>Вы уже отправили ответы на тесты!</p>
        </div>
        <h1 v-else class="text-center">
          <span>Вы ответили на</span>
          <b-badge variant="success">{{ testMark.mark }}</b-badge>
          <span>вопросов правильно из</span>
          <b-badge variant="primary">{{ exam.testCount }}</b-badge>
        </h1>
      </b-card>
    </b-overlay>
  </div>
</template>

<script>
export default {
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  computed: {
    end() {
      return new Date(this.start).getTime() + this.exam.durationInMinutes * 60 * 1000
    },
    start() {
      return new Date(this.session.startedDate).getTime() + 5 * 60 * 60 * 1000
    },
  },
  data() {
    return {
      method: 'post',
      exam: {},
      session: {},
      now: '',

      lessons: [],
      subjectName: '',
      role: localStorage.getItem('role'),
      searchText: '',
      file: null,

      //
      collapse: {
        groups: false,
        textExercises: false,
        test: false,
        openQuestions: false,
      },
      show: {
        openTest: false,
        textExercise: false,
        test: false,
      },

      //
      // { examinationId: this.$route.params.exam, question: "" }
      textExercises: [],
      openQuestions: [],
      tests: [],

      //
      textExercisesAnswer: [],

      //
      testMark: null,
    }
  },
  async mounted() {
    this.show.openTest = true
    this.show.textExercise = true
    this.show.test = true

    await this.$http
      .get(`/api/examination/${this.$route.params.exam}/extended`)
      .then((response) => {
        this.exam = response.data.data.examination
        this.now = response.data.data.utcNow
        this.$store.commit('collections/setTitle', response.data.data.subject.name)

        this.textExercises = response.data.data.textExercises.map((item) => {
          return { ...item, fileState: false }
        })

        this.openQuestions = response.data.data.openQuestions.map((item) => {
          return {
            ...item,
            studentId: localStorage.getItem('studentId'),
            examinationOpenQuestionId: item.id,
            answer: '',
            isVerified: true,
          }
        })

        this.tests = response.data.data.tests.map((item) => {
          return {
            ...item,
            examinationTestId: item.id,
            studentId: localStorage.getItem('studentId'),
            isVerified: true,
          }
        })

        this.session = response.data.data.session
      })
      .catch((e) => {})
      .then(() => {
        this.show.openTest = false
        this.show.textExercise = false
        this.show.test = false
      })
  },
  methods: {
    //
    upload(exercise) {
      if (!this.file) return

      let file = new FormData()
      file.append('formFile', this.file)

      this.$http
        .post(`/api/file/upload`, file, {
          header: { 'Content-Type': 'multipart/form-data', accept: 'text/plain' },
        })
        .then((response) => {
          let text = {
            studentId: localStorage.getItem('studentId'),
            examinationTextExerciseId: exercise.id,
            filePath: response.data.data,
            isVerified: true,
          }
          this.textExercisesAnswer.push(text)
          this.$toast.success('Файл добавлен!').goAway(2000)
          exercise.fileState = true
        })
    },

    // Text exercise methods
    answerTextExercise() {
      this.show.textExercise = true
      this.$http
        .post(`/api/examinationtextexercise/answer/examination/${this.$route.params.exam}`, this.textExercisesAnswer)
        .then((response) => {
          this.$toast.success('Ответ отправлен!').goAway(2000)
          this.textExercises = []
        })
        .catch((e) => {})
        .then(() => {
          this.show.textExercise = false
        })
    },

    // Open Question methods
    answerOpenTestQuestion() {
      this.show.openTest = true

      this.openQuestions = this.openQuestions.map((item) => {
        return {
          studentId: item.studentId,
          examinationOpenQuestionId: item.examinationOpenQuestionId,
          answer: item.answer,
          isVerified: item.isVerified,
        }
      })

      this.$http
        .post(`/api/examinationopenquestion/answer/examination/${this.$route.params.exam}`, this.openQuestions)
        .then((response) => {
          this.$toast.success('Ответы отправлены!').goAway(2000)
          this.openQuestions = []
        })
        .catch((e) => {})
        .then(() => {
          this.show.openTest = false
        })
    },

    // Test methods
    answerTest() {
      this.show.test = true

      this.tests = this.tests.map((item) => {
        return {
          examinationTestId: item.examinationTestId,
          studentId: item.studentId,
          examinationPossibleAnswerId: item.examinationPossibleAnswerId,
          isVerified: item.isVerified,
        }
      })

      this.$http
        .post(`/api/examinationtest/answer/examination/${this.$route.params.exam}`, this.tests)
        .then((response) => {
          this.testMark = response.data.data
          this.$toast.success('Ответы отправлены!').goAway(2000)
          this.tests = []
        })
        .catch((e) => {})
        .then(() => {
          this.show.test = false
        })
    },

    //
    startCallBack(x) {
      console.log(x)
    },
    endCallBack(x) {
      this.now = new Date(this.now).getTime()

      if (this.end < this.now) {
        // this.answerTextExercise();
        // this.answerOpenTestQuestion();
        this.answerTest()
      } else {
        console.log('kek')
      }
    },
  },
}
</script>

<style scoped>
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
  transition: 0.3s;
}

/* .card {
	min-height: 9rem;
} */
</style>
