﻿<template>
  <div>
    <b-row align-h="between" class="actions mb-1">
      <b-col sm="12" md="4" lg="4">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
      <b-col v-if="role == 'teacher'" cols="6 text-right">
        <b-button @click="addModal" variant="success">Добавить экзамен</b-button>
      </b-col>
    </b-row>

    <b-modal :busy="show" @hidden="resetModal" id="exam" ref="modal" :title="label.title" hide-footer>
      <form ref="form" @submit.prevent="addExam">
        <b-form-group label="Назовите экзамен" label-for="name-input">
          <b-form-input id="name-input" v-model="modalData.name" required></b-form-input>
        </b-form-group>

        <b-form-group label="Количество тестов на студента" label-for="test-count">
          <b-form-input
            id="test-count"
            v-model="modalData.testCount"
            :state="modalData.testCount >= 0"
            type="number"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Количество самостоятельных работ на студента" label-for="test-count">
          <b-form-input
            id="test-count"
            v-model="modalData.textExerciseCount"
            :state="modalData.textExerciseCount >= 0"
            type="number"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Количество открытых вопросов на студента" label-for="open-question-count">
          <b-form-input
            id="open-question-count"
            v-model="modalData.openQuestionCount"
            type="number"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Срок сдачи экзамена" label-for="deadLine" required>
          <b-form-datepicker
            label-for="deadLine"
            v-model="modalData.deadLine"
            class="mb-2"
            required
          ></b-form-datepicker>
        </b-form-group>

        <b-form-group label="Длительность экзамена в минутах" label-for="test-count">
          <b-form-input
            id="test-count"
            v-model="modalData.durationInMinutes"
            :state="modalData.durationInMinutes >= 0"
            type="number"
            required
          ></b-form-input>
        </b-form-group>

        <div class="w-100">
          <b-button variant="success" type="submit" class="float-right">{{ label.button }}</b-button>
        </div>
      </form>
    </b-modal>

    <b-overlay :show="show">
      <b-row class="subjects">
        <b-col md="4" lg="3" sm="12" class="mt-3" v-for="exam in filteredExams" :key="exam.id">
          <div @click="start(exam)">
            <b-card>
              <template v-slot:header>{{ exam.name }}</template>
              <h5>{{ exam.subjectName }}</h5>
              <h6><fa icon="hourglass-half" /> {{ exam.deadLine | parseDate }}</h6>
              <br />
            </b-card>
          </div>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
import Maintenance from '~/components/Maintenance'
import swal from 'sweetalert'
export default {
  components: {
    Maintenance,
  },
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  data() {
    return {
      show: false,
      exams: [],
      defaultData: {
        subjectId: +this.$route.params.subject,
        name: '',
        deadLine: '',
        openQuestionCount: null,
        testCount: null,
      },
      modalData: {},
      subjectName: '',
      searchText: '',
      role: localStorage.getItem('role'),
      label: { title: '', button: '' },
      method: 'post',
    }
  },
  mounted() {
    this.show = true
    this.$store.commit('collections/setTitle', 'Экзамены')
    this.$http
      .get(`/api/examination`)
      .then((response) => {
        this.exams = response.data.data
      })
      .catch((e) => {})
      .then(() => {
        this.show = false
      })
  },
  computed: {
    filteredExams() {
      return this.exams.filter((exam) => {
        return exam.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  filters: {
    parseDate(iso) {
      let date = new Date(iso)
      return date.toLocaleDateString()
    },
  },
  methods: {
    start(exam) {
      swal({
        title: 'Вы уверены?',
        text: `Вы уверены начать экзамен "${exam.name}"? Если нажмете на кнопку "Да" у Вас будет всего ${exam.durationInMinutes} минут для завершения, если преждевременно покините страницу, тесты вернуть нельзя!`,
        icon: 'warning',
        dangerMode: true,
        value: true,
        button: 'Да',
      }).then((value) => {
        if (value) {
          this.$router.push(`/exam/${exam.id}`)
        }
      })
    },
    addModal() {
      this.modalData = { ...this.defaultData }
      this.label = { title: 'Создайте экзамен', button: 'Добавить' }
      this.method = 'post'
      this.$bvModal.show('exam')
    },
    editModal(data) {
      let deadLine = new Date(data.deadLine).toLocaleDateString().split('.').reverse().join('-')
      this.modalData = { ...data, deadLine }
      this.label = { title: 'Изменить экзамен', button: 'Изменить' }
      this.method = 'put'
      this.$bvModal.show('exam')
    },
    addExam() {
      if (!this.modalData.deadLine) return
      this.show = true
      let date = new Date(this.modalData.deadLine).toISOString()
      this.modalData.deadLine = date

      this.$http[this.method](`/api/examination${this.method == 'put' ? '/' + this.modalData.id : ''}`, this.modalData)
        .then((response) => {
          this.exams.push(response.data.data)
          this.$toast.success(`Экзамен ${this.method == 'post' ? 'добавлен' : 'изменен'}!`).goAway(2000)
        })
        .catch((e) => {})
        .then(() => {
          this.show = false
          this.$bvModal.hide('exam')
        })
    },
    resetModal() {
      this.modalData = { ...this.defaultData }
    },
    deleteExam(exam) {
      this.$bvModal
        .msgBoxConfirm(exam.name, {
          title: `Действительно хотите удалить урок?`,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/examination/${exam.id}`).then((response) => {
              this.exams.splice(this.exams.indexOf(exam), 1)
              this.$toast.error('Урок Удален!').goAway(1500)
            })
          }
        })
    },
  },
}
</script>

<style scoped>
.card {
  min-height: 9rem;
}
</style>
