<template>
  <div>
    <!-- <b-modal id="edit" ref="modal" title="Изменить" @hidden="handleHide">
      <form ref="form">
        <b-form-group label="Name" label-for="name-input" invalid-feedback="Name is required">
          <b-form-input id="name-input" v-model="faculty.name" required></b-form-input>
        </b-form-group>
      </form>
      <template v-slot:modal-footer>
        <b-button @click="editFaculty(faculty)" variant="success">Сохранить</b-button>
      </template>
    </b-modal>-->

    <b-form @submit.prevent="addFaculty">
      <b-row align-v="end">
        <b-col cols="6">
          <label for="faculty">Выберите факультет</label>
          <b-form-select
            id="faculty"
            v-model="filter.facultyId"
            :options="faculties"
            @change="getCourses"
            placeholder="Введите название факультета"
          ></b-form-select>
        </b-col>

        <b-col cols="6">
          <label for="course">Выберите курс</label>
          <b-form-select
            id="course"
            @change="getSubjects"
            v-model="filter.courseId"
            :options="coursesByFaculty"
            placeholder="Введите название факультета"
          ></b-form-select>
        </b-col>
      </b-row>
    </b-form>
    <b-row>
      <b-col v-for="group in groupByCourse" :key="group.id" cols="3">
        <b-card class="mt-3">
          <nuxt-link :to="`/admin/marks/${group.id}`">{{ group.name }}</nuxt-link>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },
  mounted() {
    if (this.groupByCourse.length) {
      let id = this.$store.state.collections.groups[1].courseId
      this.filter.courseId = this.$store.state.collections.groups[1].courseId

      this.$http.get(`/api/course/${id}`).then((response) => {
        this.filter.facultyId = response.data.data.facultyId
        this.getCourses()
      })
    }
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      filter: {
        facultyId: null,
        courseId: null,
        universityId: 1,
      },
      coursesByFaculty: [],
      facultiesByUniver: [],
      groupByCourse: this.$store.state.collections.groups,
    }
  },
  watch: {},
  methods: {
    getSubjects() {
      this.$http.get(`/api/group/course/${this.filter.courseId}`).then((response) => {
        this.groupByCourse = response.data.data
        this.$store.commit('collections/setGroups', this.groupByCourse)
      })
    },
    getCourses() {
      this.$http.get(`/api/course/faculty/${this.filter.facultyId}`).then((response) => {
        this.coursesByFaculty = response.data.data.map((el) => {
          return { text: el.name, value: el.id }
        })
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>