<template>
  <b-container class="main" fluid>
    <b-row>
      <b-col offset-md="6" offset-lg="8" md="6" lg="4" sm="12" class="sidebar">
        <div class="content">
          <div class="logo mt-2">
            <img src="~/static/img/logo.png" />
          </div>
          <div class="auth-block">
            <p v-if="!success">Ссылка устарела или недействительна</p>
            <b-form v-else>
              <b-form-group label-for="password">
                <b-form-input
                  id="password"
                  type="password"
                  v-model="password.password"
                  required
                  placeholder="Новый пароль"
                  :state="!!password.password"
                ></b-form-input>
              </b-form-group>
              <b-form-group label-for="confirmPassword">
                <b-form-input
                  @input="checkPassword"
                  id="confirmPassword"
                  type="password"
                  v-model="password.confirmPassword"
                  :state="!!confirmPasswordState"
                  required
                  placeholder="Подтвердите пароль"
                ></b-form-input>
              </b-form-group>
            </b-form>
            <b-button v-if="success" @click="changePass" class="w-100" variant="success mt-1">Восстановить</b-button>
            <b-button v-else @click="$router.push('/login')" class="w-100" variant="success mt-1">На главную</b-button>
          </div>
          <div></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      success: false,
      confirmPasswordState: null,
      password: { password: '', confirmPassword: '' },
    }
  },
  mounted() {
    this.$http
      .post(`/api/auth/recover_password/check`, {
        recoverCode: this.$route.params.token,
        role: this.$route.query.role,
      })
      .then((response) => {
        this.success = response.data.status == 'success'
      })
      .catch((e) => {})
  },
  methods: {
    checkPassword() {
      this.confirmPasswordState = this.password.password == this.password.confirmPassword ? true : false
    },
    changePass() {
      if (this.confirmPasswordState) {
        this.$http
          .post('/api/auth/recover_password', {
            recoverCode: this.$route.params.token,
            role: this.$route.query.role,
            ...this.password,
          })
          .then((response) => {
            this.$store.dispatch('user/login', response.data.data.token)
            this.$router.push('/')
          })
          .catch((e) => {})
      }
    },
  },
}
</script>

<style scoped>
.register-card {
  max-height: 100vh;
  overflow-y: scroll;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.logo img {
  width: 50%;
}
.logo {
  text-align: center;
}
.sidebar {
  backdrop-filter: blur(10px);
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(116, 185, 255, 0.3);
  color: #fff;
}
.main {
  width: 100%;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  filter: brightness(1.1);
}
</style>
