<template>
  <b-container class="main" fluid>
    <b-row>
      <b-col offset-md="6" offset-lg="8" md="6" lg="4" sm="12" class="sidebar">
        <div class="content">
          <div class="logo mt-2">
            <img src="~/static/img/logo.png" />
          </div>
          <div class="auth-block">
            <b-form-group id="input-group-4">
              <b-form-radio-group :state="Boolean(user.role)" v-model="user.role">
                <b-form-radio value="student">Студент</b-form-radio>
                <b-form-radio value="teacher">Преподаватель</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
            <p>{{ text }}</p>
            <b-form>
              <b-form-group label-for="email">
                <b-form-input id="email" type="text" v-model="user.email" required placeholder="email"></b-form-input>
              </b-form-group>
            </b-form>
            <b-button @click="forgot" class="w-100" variant="success mt-1">Восстановить</b-button>
            <b-button @click="$router.push('/login')" class="w-100" variant="secondary mt-1">Войти</b-button>
          </div>
          <div></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      user: { email: '', role: false },
      text: '',
    }
  },
  methods: {
    forgot() {
      this.$http
        .post(`/api/auth/forgot_password`, this.user)
        .then((response) => {
          if (response.data.status == 'success') {
            this.text = 'На почту было выслано письмо с инструкциями'
          }
        })
        .catch((e) => {})
    },
  },
}
</script>

<style scoped>
.register-card {
  max-height: 100vh;
  overflow-y: scroll;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.logo img {
  width: 50%;
}
.logo {
  text-align: center;
}
.sidebar {
  backdrop-filter: blur(10px);
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(116, 185, 255, 0.3);
  color: #fff;
}
.main {
  width: 100%;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  filter: brightness(1.1);
}
</style>
