<template>
  <div class="pb-4">
    <Loader v-if="loading" :fixed="true" :progress="uploadPercentage" />

    <!-- text-question modal -->
    <b-modal
      header-bg-variant="primary"
      header-text-variant="white"
      size="xl"
      id="text-question"
      title="Самостоятельная работа"
    >
      <div>
        <label for="text-question">Текст</label>
        <b-form-textarea
          class="mt-3"
          v-for="(text, $i) in textExercises"
          :key="$i"
          v-model="text.question"
          id="text-question"
          placeholder="Напишите задание"
          rows="4"
        ></b-form-textarea>
        <div class="mt-2 float-right">
          <b-button
            v-if="trigger != 'edit'"
            @click="textExercises.push({ LessonId: $route.params.theme, question: '' })"
            variant="primary"
            >+</b-button
          >
        </div>
      </div>
      <template v-slot:modal-footer>
        <b-button v-if="trigger == 'edit'" @click="editTextExercise" variant="success mt-2 ">Изменить</b-button>
        <b-button v-else @click="addTextExercise" variant="success mt-2 ">Сохранить</b-button>
      </template>
    </b-modal>

    <!-- test-question modal -->
    <b-modal
      header-bg-variant="secondary"
      header-text-variant="white"
      size="xl"
      id="test-question"
      title="Создать тестовые задания"
    >
      <div class="text-right">
        <b-button v-if="trigger != 'edit'" variant="primary" @click="pushTest(test)">Добавить тест</b-button>
      </div>
      <b-row>
        <b-col v-for="(test, i) in tests" :key="i" cols="6">
          <h3>{{ +i + 1 }}.</h3>
          <b-form-textarea
            id="test-question"
            v-model="test.question"
            placeholder="Вопрос теста"
            rows="2"
          ></b-form-textarea>
          <b-input-group v-for="(answer, j) in test.answers" :key="j" class="mb-2 mt-2">
            <b-input-group-prepend is-text>
              <b-form-checkbox v-model="answer.isCorrect" class="mr-n2">
                <span class="sr-only">Checkbox for following text input</span>
              </b-form-checkbox>
            </b-input-group-prepend>
            <b-form-input v-model="answer.answer" aria-label="Text input with checkbox"></b-form-input>
          </b-input-group>
        </b-col>
      </b-row>
      <template v-slot:modal-footer>
        <b-button v-if="trigger == 'edit'" @click="editLessonTests" variant="success mt-1">Сохранить</b-button>
        <b-button v-else @click="addLessonTest" variant="success mt-1">Сохранить</b-button>
      </template>
    </b-modal>

    <!-- open-test modal -->
    <b-modal
      header-bg-variant="success"
      header-text-variant="white"
      size="xl"
      id="open-test"
      title="Тест с открытым вопросом"
    >
      <div v-for="(openTest, i) in openTests" :key="i" class="mt-2">
        <h5 for="text-question">Тест с открытым вопросом {{ i + 1 }}</h5>
        <b-form-textarea
          v-model="openTest.question"
          id="text-question"
          placeholder="Вопрос теста"
          rows="4"
        ></b-form-textarea>
      </div>
      <template v-slot:modal-footer>
        <b-button v-if="trigger == 'edit'" @click="editOpenTestQuestion" variant="success mt-2 ">Изменить</b-button>

        <b-button v-else @click="addOpenTestQuestion" variant="success mt-2 ">Сохранить</b-button>
      </template>
    </b-modal>

    <!-- action buttons -->
    <div class="actions mb-1 text-right">
      <b-button v-show="editLesson" @click="editTheme" variant="success">Сохранить</b-button>

      <b-button v-show="teacher" @click="editLesson = !editLesson" variant="warning">{{
        editLesson ? 'Отменить' : 'Редактировать'
      }}</b-button>

      <b-button v-if="teacher" @click="addTextExerciseModal" variant="primary">Создать самостоятельные работы</b-button>
      <b-button v-if="teacher" @click="addOpenTestModal" variant="success">Создать тест с открытым вопросом</b-button>
      <b-button v-if="teacher" @click="addTestModal" variant="secondary">Создать тест</b-button>
    </div>

    <b-overlay :show="show">
      <b-container class="mt-2" header-bg-variant="white">
        <!-- lesson title -->
        <b-input v-show="editLesson" class="mt-2" v-model="lesson.name" rows="1"></b-input>

        <!-- lesson photo uploader-->
        <div v-if="editLesson">
          <label for="lessonPhoto">Картинка урока</label>
          <b-form-file
            id="lessonPhoto"
            placeholder="Картинка урока"
            v-model="file"
            :state="Boolean(file)"
            @input="fileUpload('photoPath')"
            accept="image/*"
          ></b-form-file>
        </div>

        <!-- lesson image previev -->
        <div v-if="!lessonVideos" class="text-right" style="height: 200px">
          <b-card-img
            :src="`${env.API_URL}/${lesson.photoPath}`"
            style="object-position: center; object-fit: contain"
            class="rounded-50 h-100"
          ></b-card-img>
        </div>

        <!-- lesson videos -->
        <b-card no-body class="mt-4">
          <!-- lesson video player -->
          <b-tabs card>
            <b-tab no-body v-for="(lessonVideo, i) in lessonVideos" :key="lessonVideo.id" :title="lessonVideo.name">
              <b-card-body class="lesson-video" v-if="lessonVideo.id">
                <video :src="`${env.API_URL}/${lessonVideo.filePath}`" controls></video>
              </b-card-body>

              <!-- add new video -->
              <b-card-body v-else>
                <b-form @submit.prevent="addLessonVideo" class="row mt-2">
                  <div class="col-4">
                    <b-input
                      required
                      :state="!!lessonVideo.name"
                      v-model="lessonVideo.name"
                      placeholder="Название файла"
                    ></b-input>
                  </div>

                  <div class="col-4">
                    <b-form-file
                      required
                      placeholder="Закрепить видео"
                      v-model="file"
                      :state="Boolean(file)"
                      @input="fileUpload('lessonVideo')"
                      accept="video/mp4"
                    ></b-form-file>
                  </div>

                  <div class="col-md-4">
                    <b-button type="submit" variant="success">Сохранить видео</b-button>
                  </div>
                </b-form>
                <p>
                  Убедитесь, что формат видеоролика
                  <code>.mp4</code>. <br />После загрузки видео нажмите на кнопку
                  <b-badge variant="success">Сохранить видео</b-badge>
                </p>
              </b-card-body>
              <!-- end add new video -->

              <b-card-footer v-if="editLesson && lessonVideo.id">
                <b-row>
                  <div class="col-md-4">
                    <label for="editLessonVideoName">Изменить имя видеоролика</label>
                    <b-input
                      required
                      id="editLessonVideoName"
                      :state="Boolean(lessonVideo.name)"
                      v-model="lessonVideo.name"
                      placeholder="Название файла"
                    ></b-input>
                  </div>
                  <div class="col-md-4">
                    <label for="lessonVideo">Заменить видеоролик</label>
                    <b-form-file
                      id="lessonVideo"
                      placeholder="Видеоматериал"
                      v-model="file"
                      :state="Boolean(file)"
                      @input="fileUpload('lessonVideo', i)"
                    ></b-form-file>
                  </div>
                  <div class="col-md-4 mt-4">
                    <b-button @click="deleteLessonVideo(lessonVideo)" variant="danger" class="float-right">
                      Удалить видео
                    </b-button>
                  </div>
                </b-row>
              </b-card-footer>
            </b-tab>

            <template v-if="teacher && editLesson" v-slot:tabs-end>
              <b-nav-item @click.prevent="lessonVideos.push(lessonVideo)" href="#">
                <b>+</b>
              </b-nav-item>
            </template>
          </b-tabs>
        </b-card>

        <b-card-body>
          <!-- lesson content plan -->
          <div class="mt-4">
            <h4>План</h4>
            <div v-show="!editLesson" v-html="content.plan"></div>
            <wysiwyg v-show="editLesson" class="mt-2" v-model="content.plan" />
          </div>

          <!-- lesson content glossary -->
          <div class="mt-4">
            <h4>Глоссарий</h4>
            <div v-show="!editLesson" v-html="content.glossary"></div>
            <wysiwyg v-show="editLesson" class="mt-2" v-model="content.glossary" />
          </div>

          <!-- lesson content description -->
          <div class="mt-4">
            <h4>Описание темы</h4>
            <div v-show="!editLesson" v-html="content.description"></div>
            <wysiwyg v-show="editLesson" class="mt-2" v-model="content.description" />
          </div>

          <!-- lesson content material -->
          <div class="mt-4">
            <h4>Материалы к теме</h4>
            <div v-show="!editLesson" v-html="content.material"></div>
            <wysiwyg v-show="editLesson" class="mt-2" v-model="content.material" />
          </div>

          <!-- lesson material files -->
          <div class="mt-4">
            <h4>Файлы к теме</h4>
            <b-list-group>
              <b-list-group-item v-for="(lessonMaterial, ind) in lessonMaterials" :key="lessonMaterial.id">
                <a :href="`${env.API_URL}/${lessonMaterial.filePath}`">
                  {{ lessonMaterial.name != '' ? lessonMaterial.name : `Файл ${ind + 1}` }}
                </a>
                <div class="float-right">
                  <b-button @click="deleteLessonMaterial(lessonMaterial)" v-if="teacher" variant="danger">
                    Удалить файл
                  </b-button>
                </div>
              </b-list-group-item>

              <b-list-group-item v-if="teacher">
                <b-form @submit.prevent="addLessonMaterials" class="row">
                  <div class="col-4">
                    <b-input
                      required
                      :state="!!lessonMaterial.name"
                      v-model="lessonMaterial.name"
                      placeholder="Название файла"
                    ></b-input>
                  </div>

                  <div class="col-4">
                    <b-form-file
                      required
                      placeholder="Закрепить документ"
                      v-model="file"
                      :state="!!file"
                      @input="fileUpload('lessonMaterial')"
                      accept=".doc, .pdf, .docx"
                    ></b-form-file>
                  </div>

                  <b-button type="submit" variant="success">Сохранить</b-button>
                </b-form>
              </b-list-group-item>
            </b-list-group>
          </div>

          <!-- QUESTIONS for lesson -->
          <b-card no-body class="mt-5">
            <b-tabs content-class="mt-3" card fill justified>
              <!-- lesson text exercises -->
              <b-tab title="Самостоятельная работа" active>
                <h4 class="text-center" v-if="isSolvedTextExercisesByStudent">
                  Вы уже отправили самостоятельную работу.
                </h4>
                <b-button
                  v-if="teacher && lessonTextExercises.length"
                  variant="primary"
                  @click="editTextExerciseModal"
                  class="float-right"
                  >Изменить</b-button
                >
                <div class="mt-2" v-for="(lessonTextExercise, i) in lessonTextExercises" :key="lessonTextExercise.id">
                  <h6>
                    {{ i + 1 }}. {{ lessonTextExercise.question }}
                    <fa
                      icon="trash"
                      class="button-del"
                      v-if="teacher"
                      @click="deleteTextExercise(lessonTextExercise)"
                    ></fa>
                  </h6>
                  <b-row>
                    <b-col>
                      <b-form-file
                        v-if="!teacher"
                        @input="fileUpload('lessonTextExercises', i)"
                        :state="Boolean(file)"
                        v-model="file"
                        placeholder="Выберите файл"
                      ></b-form-file>
                    </b-col>
                  </b-row>
                </div>
                <div v-if="!teacher" class="mt-2 text-right">
                  <b-button @click="sendTextExerciseAnswers" variant="success">Отправить</b-button>
                </div>
              </b-tab>

              <!-- lesson open tests -->
              <b-tab title="Открытые вопросы">
                <h4 class="text-center" v-if="isSolvedOpenQuestionsByStudent">Вы уже ответили на открыте вопросы.</h4>
                <b-button
                  v-if="teacher && lessonOpenTests.length"
                  variant="primary"
                  @click="editOpnenTestModal"
                  class="float-right"
                  >Изменить</b-button
                >
                <b-form @submit.prevent="sendOpenTestAnswers">
                  <div class="mt-2" v-for="(lessonOpenTest, i) in lessonOpenTests" :key="lessonOpenTest.id">
                    <h6>
                      {{ i + 1 }}. {{ lessonOpenTest.question }}
                      <fa
                        icon="trash"
                        class="button-del"
                        v-if="teacher"
                        @click="deleteLessonOpenTest(lessonOpenTest)"
                      ></fa>
                    </h6>
                    <b-form-textarea
                      v-if="!teacher"
                      v-model="lessonOpenTest.answer"
                      placeholder="Напишите ответ"
                      rows="3"
                      required
                    ></b-form-textarea>
                  </div>
                  <div v-if="!teacher" class="mt-2 text-right">
                    <b-button type="submit" variant="success">Отправить</b-button>
                  </div>
                </b-form>
              </b-tab>

              <!-- lesson tests -->
              <b-tab title="Тесты">
                <h4 class="text-center" v-if="isSolvedTestsByStudent">Вы уже решили тесты.</h4>
                <b-button
                  v-if="teacher && lessonTests.length"
                  variant="primary"
                  @click="editTestModal"
                  class="float-right"
                  >Изменить</b-button
                >
                <b-form @submit.prevent="sendTestAnswer">
                  <div class="mt-2" v-for="(lessonTest, $i) in lessonTests" :key="$i">
                    <h6>
                      {{ $i + 1 }}. {{ lessonTest.question }}
                      <fa icon="trash" class="button-del" v-if="teacher" @click="deleteLessonTest(lessonTest)">
                        Удалить
                      </fa>
                    </h6>
                    <b-form-radio
                      v-for="(answer, $j) in lessonTest.answers"
                      :key="$j"
                      :value="answer.id"
                      :name="lessonTest.question"
                      v-model="lessonTest.possibleAnswerId"
                      required
                      :disabled="teacher"
                      >{{ answer.answer }}</b-form-radio
                    >
                  </div>
                  <div v-if="!teacher" class="mt-2 text-right">
                    <b-button type="submit" variant="success">Отправить</b-button>
                  </div>
                </b-form>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-card-body>
      </b-container>
    </b-overlay>
  </div>
</template>

<script>
import Loader from '~/components/Loader'
export default {
  components: { Loader },
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  mounted() {
    this.teacher = localStorage.getItem('role') == 'teacher' || localStorage.getItem('role') == 'admin' ? true : false

    this.show = true
    this.$http
      .get(`/api/lesson/${this.$route.params.theme}`)
      .then((response) => {
        this.lesson = response.data.data

        this.$store.commit('collections/setTitle', this.lesson.name)

        this.isSolvedTestsByStudent = response.data.data.isSolvedTestsByStudent
        this.isSolvedTextExercisesByStudent = response.data.data.isSolvedTextExercisesByStudent
        this.isSolvedOpenQuestionsByStudent = response.data.data.isSolvedOpenQuestionsByStudent

        if (!response.data.data.isSolvedTestsByStudent) {
          this.$http.get(`/api/test/lesson/${this.$route.params.theme}`).then((response) => {
            this.lessonTests = response.data.data
            if (this.teacher) {
              this.lessonTests.forEach((item, key) => {
                this.lessonTests[key].possibleAnswerId = item.answers.filter((el) => el.isCorrect)[0].id
              })
            }
          })
        }

        if (!response.data.data.isSolvedTextExercisesByStudent) {
          this.$http.get(`/api/textexercise/lesson/${this.$route.params.theme}`).then((response) => {
            this.lessonTextExercises = response.data.data
          })
        }

        if (!response.data.data.isSolvedOpenQuestionsByStudent) {
          this.$http.get(`/api/openquestion/lesson/${this.$route.params.theme}`).then((response) => {
            this.lessonOpenTests = response.data.data
          })
        }

        this.content = JSON.parse(this.lesson.content)
      })
      .then(() => {
        this.show = false
      })

    this.$http.get(`/api/lessonmaterial/lesson/${this.$route.params.theme}`).then((response) => {
      this.lessonMaterials = response.data.data
    })

    this.$http.get(`/api/lesson/${this.$route.params.theme}/video`).then((response) => {
      this.lessonVideos = response.data.data
    })
  },
  data() {
    return {
      //COMPONENT VARIABLES
      show: false,
      file: null,
      uploadPercentage: 0,
      teacher: false,
      editLesson: false,
      loading: false,
      content: {},
      trigger: false,

      //TEACHER VARIABLES (FOR POST/PUT METHOD)

      //TEXT EXERCISES
      textExercises: [],
      defaultTextExercises: [
        {
          LessonId: +this.$route.params.theme,
          question: '',
        },
      ],
      textExerciseAnswers: [],
      //TEXT EXERCISES END

      //OPEN TESTS
      defaultOpenTests: [
        { LessonId: +this.$route.params.theme, question: '' },
        { LessonId: +this.$route.params.theme, question: '' },
        { LessonId: +this.$route.params.theme, question: '' },
      ],
      openTests: [],
      //END OPENTESTS

      //TESTS
      test: {
        LessonId: +this.$route.params.theme,
        question: '',
        answers: [
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
        ],
      },
      tests: [
        {
          LessonId: +this.$route.params.theme,
          question: '',
          answers: [
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
          ],
        },
      ],
      defaultTests: [
        {
          LessonId: +this.$route.params.theme,
          question: '',
          answers: [
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
            { isCorrect: false, answer: '' },
          ],
        },
      ],
      //TESTS END

      //TEACHER VARIABLES (FOR POST/PUT METHOD) END

      lessonVideo: {
        name: 'Новое видео',
        filePath: '',
      },
      lessonMaterial: {
        lessonId: this.$route.params.theme,
        filePath: '',
        name: '',
      },

      //RENDER VARIABLES (FOR GET METHOD)
      isSolvedTestsByStudent: false,
      isSolvedTextExercisesByStudent: false,
      isSolvedOpenQuestionsByStudent: false,

      lessonMaterials: [],
      lessonVideos: [],
      lesson: {},
      lessonTests: [],
      lessonTextExercises: [],
      lessonOpenTests: [],
    }
  },
  methods: {
    //COMPONENT METHODS
    fileUpload(fileType, current = null) {
      if (!this.file) return
      this.loading = true

      let file = new FormData()
      file.append('formFile', this.file)

      this.$http
        .post('/api/file/upload', file, {
          header: {
            'Content-Type': 'multipart/form-data',
            accept: 'text/plain',
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100))
          }.bind(this),
        })
        .then((response) => {
          switch (fileType) {
            case 'lessonTextExercises':
              this.lessonTextExercises[current].filePath = `api/file/download/${response.data.data}`
              this.$toast.success('Файл загружен.').goAway(1500)
              this.loading = false
              break
            case 'photoPath':
              this.lesson.photoPath = `api/file/download/${response.data.data}`
              this.$toast.success('Фото загружено.').goAway(1500)
              this.loading = false
              break
            case 'lessonVideo':
              if (current != null) this.lessonVideos[current].filePath = `api/file/download/${response.data.data}`
              else this.lessonVideo.filePath = `api/file/download/${response.data.data}`
              this.$toast.success('Видео загружено.').goAway(1500)
              this.loading = false
              break
            case 'lessonMaterial': {
              this.lessonMaterial.filePath = `api/file/download/${response.data.data}`
              this.$toast.success('Документ загружен.').goAway(1500)
              this.loading = false
              break
            }
          }
        })
        .catch((e) => {
          console.log(e.response.data)
          this.loading = false
        })
        .then(() => {
          this.loading = false
        })
    },

    //ANSWERS (STUDENT METHODS)
    sendTestAnswer() {
      this.lessonTests.forEach((testAnswer) => {
        testAnswer.testId = testAnswer.id

        delete testAnswer.answers
        delete testAnswer.id
        delete testAnswer.question
      })
      this.$http.post('/api/test/answer', this.lessonTests).then((response) => {
        this.lessonTests = []
        this.$toast.success('Ответы на тесты отправлены.').goAway(2000)
      })
    },

    sendOpenTestAnswers() {
      this.lessonOpenTests.forEach((lessonOpenTest) => {
        lessonOpenTest.studentId = localStorage.getItem('studentId')
        lessonOpenTest.openQuestionId = lessonOpenTest.id
        delete lessonOpenTest.id
        delete lessonOpenTest.question
        delete lessonOpenTest.lessonId
      })
      this.$http.post('/api/openquestion/answer', this.lessonOpenTests).then((response) => {
        this.lessonOpenTests = []
        this.$toast.success('Ответы на открытые вопросы отправлены.').goAway(2000)
      })
    },

    sendTextExerciseAnswers() {
      this.lessonTextExercises.forEach((lessonTextExercise) => {
        lessonTextExercise.studentId = localStorage.getItem('studentId')
        lessonTextExercise.textExerciseId = lessonTextExercise.id
        delete lessonTextExercise.lessonId
        delete lessonTextExercise.question
        delete lessonTextExercise.id
      })

      this.$http.post('/api/textexercise/answer', this.lessonTextExercises).then((response) => {
        this.lessonTextExercises = []
        this.$toast.success('Ответы на самостоятельные работы отправлены.').goAway(2000)
      })
    },

    //TEACHER ONLY
    editOpnenTestModal() {
      this.openTests = this.lessonOpenTests
      this.trigger = 'edit'
      this.$bvModal.show('open-test')
    },
    addOpenTestModal() {
      this.openTests = this.defaultOpenTests
      this.trigger = 'add'
      this.$bvModal.show('open-test')
    },
    editOpenTestQuestion() {
      this.$http.put(`/api/openquestion/${this.$route.params.theme}`, this.openTests).then((response) => {
        this.$toast.success('Изменения сохранены.')
        this.$bvModal.hide('open-test')
      })
    },
    addOpenTestQuestion() {
      this.$http
        .post(`/api/openquestion/${this.$route.params.theme}`, this.openTests)
        .then((response) => {
          if (response.data.status == 'success') {
            this.$toast.success('Открытый вопрос добавлен!').goAway(1500)
          }
        })
        .then(() => this.$bvModal.hide('open-test'))
    },
    deleteLessonOpenTest(LessonOpenTest) {
      this.$http.delete(`/api/openquestion/${LessonOpenTest.id}`).then((response) => {
        this.lessonOpenTests.splice(this.lessonOpenTests.indexOf(LessonOpenTest), 1)
        this.$toast.error('Открытый вопрос удален!').goAway(1500)
      })
    },

    editTestModal() {
      this.tests = this.lessonTests
      this.trigger = 'edit'
      this.$bvModal.show('test-question')
    },
    addTestModal() {
      this.tests = this.defaultTests
      this.trigger = 'add'
      this.$bvModal.show('test-question')
    },
    editLessonTests() {
      this.$http.put(`/api/test/lesson/${this.$route.params.theme}`, this.tests).then((response) => {
        this.$toast.success('Изменения сохранены!').goAway(1500)
        this.$bvModal.hide('test-question')
      })
    },
    addLessonTest() {
      this.$http.post(`/api/test/${this.$route.params.theme}`, this.tests).then((response) => {
        if (response.data.status == 'success') {
          this.$toast.success('Тест добавлен!').goAway(1500)
        }
      })
      this.$bvModal.hide('test-question')
    },
    pushTest(test) {
      this.tests.push(test)
      this.test = {
        // LessonId: +this.$route.params.theme,
        question: '',
        answers: [
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
        ],
      }
    },
    deleteLessonTest(test) {
      this.$http.delete(`/api/test/${test.id}`).then((response) => {
        this.lessonTests.splice(this.lessonTests.indexOf(test), 1)
        this.$toast.error('Тест удален!').goAway(1500)
      })
    },

    editTextExerciseModal() {
      this.trigger = 'edit'
      this.textExercises = this.lessonTextExercises
      this.$bvModal.show('text-question')
    },
    addTextExerciseModal() {
      this.trigger = 'add'
      this.textExercises = this.defaultTextExercises
      this.$bvModal.show('text-question')
    },
    editTextExercise() {
      this.$http.put(`/api/textexercise/${this.$route.params.theme}`, this.textExercises).then((response) => {
        this.$toast.success('Изменения сохранены!').goAway(1500)
        this.$bvModal.hide('text-question')
      })
    },
    addTextExercise() {
      this.$http
        .post(`/api/textexercise/${this.$route.params.theme}`, this.textExercises)
        .then((response) => {
          if (response.data.status == 'success') {
            this.$toast.success('Текстовое задание добавлено!').goAway(1500)
            this.text = {
              // lessonId: +this.$route.params.theme,
              question: '',
            }
          }
        })
        .then(() => {
          this.$bvModal.hide('text-question')
        })
    },
    deleteTextExercise(textExercise) {
      this.$http.delete(`/api/textexercise/${textExercise.id}`).then((response) => {
        this.lessonTextExercises.splice(this.lessonTextExercises.indexOf(textExercise), 1)
        this.$toast.error('Самостоятельная работа удалена!').goAway(1500)
      })
    },

    addLessonMaterials() {
      if (this.lessonMaterial.filePath != '' && !this.lessonMaterial.id) {
        if (this.lessonMaterial.name == '')
          this.lessonMaterial.name = `Новый документ ${this.lessonMaterials.length + 1}`
        this.$http.post('/api/lessonmaterial', this.lessonMaterial).then((response) => {
          this.lessonMaterials.push(response.data.data)
          this.file = null

          this.lessonMaterial = {
            lessonId: this.$route.params.theme,
            filePath: '',
            name: '',
          }
          this.$toast.success('Файл добавлен.').goAway(2000)
        })
      }
    },
    deleteLessonMaterial(lessonMaterial) {
      this.$bvModal
        .msgBoxConfirm(lessonMaterial.name, {
          title: `Вы действительно хотите удалить прикрепленный файл?`,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/lessonMaterial/${lessonMaterial.id}`).then((response) => {
              this.lessonMaterials.splice(this.lessonMaterials.indexOf(lessonMaterial), 1)
              this.$toast.error('Файл удален!').goAway(1500)
            })
          }
        })
    },

    addLessonVideo() {
      this.$http.post(`/api/lesson/${this.$route.params.theme}/video`, this.lessonVideo).then((response) => {
        this.lessonVideos.splice(-1)
        this.$toast.success('Видео добавлено!').goAway(1500)
        this.lessonVideos.push(response.data.data)
      })
    },
    deleteLessonVideo(lessonVideo) {
      this.$bvModal
        .msgBoxConfirm(lessonVideo.name, {
          title: `Действительно хотите удалить видео?`,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/lesson/${this.$route.params.theme}/video/${lessonVideo.id}`).then((response) => {
              this.lessonVideos.splice(this.lessonVideos.indexOf(lessonVideo), 1)
              this.$toast.error('Видео удалено!').goAway(1500)
            })
          }
        })
    },
    editTheme() {
      this.lesson.content = JSON.stringify(this.content)

      this.$http.put(`/api/lesson/${this.$route.params.theme}`, this.lesson).then((response) => {
        if (response.data.status == 'success') {
          this.lessonVideos.forEach((lessonVideo) => {
            this.$http
              .put(`/api/lesson/${this.$route.params.theme}/video/${lessonVideo.id}`, lessonVideo)
              .then((response) => {})
          })
          this.editLesson = false
          this.$toast.success('Изменения сохранены.').goAway(2000)
        }
      })
    },
  },
}
</script>

<style scoped>
input {
  overflow: hidden;
}
.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  overflow: hidden !important;
}
.button-del {
  color: #dc3545;
}
.button-edit {
  color: #007bff;
}
.button-del:hover,
.button-edit:hover {
  cursor: pointer;
}

.lesson-video {
  height: 720px;
}
.lesson-video video {
  height: 100%;
  width: 100%;
}
</style>
