<template>
  <div>
    <b-form>
      <nuxt-link :to="`/subject/${$route.params.subject}/add-lesson`" class="btn btn-success" v-if="role == 'admin'"
        >Добавить урок</nuxt-link
      >
    </b-form>

    <hr />

    <b-row>
      <b-col v-for="lesson in lessons" :key="lesson.id" cols="6">
        <b-card class="mt-3">
          <nuxt-link :to="`/admin/subjects/${$route.params.subject}/${lesson.lesson.id}`">{{
            lesson.lesson.name
          }}</nuxt-link>
          <div class="float-right">
            <span v-if="lesson.hasVideo" class="badge badge-pill badge-danger">Видео</span>
            <fa
              v-if="role == 'admin'"
              class="icon"
              @click="deleteLesson(lesson.lesson)"
              :style="{ color: '#dc3545' }"
              icon="trash"
            />
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Предметы',
    }
  },

  mounted() {
    this.$http.get(`/api/lesson/subject/${this.$route.params.subject}`).then((response) => {
      this.lessons = response.data.data
    })
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      newLesson: {
        name: '',
      },
      modalModel: {},
      departmentsByFaculty: [],
      lessons: [],
    }
  },
  methods: {
    deleteLesson(item) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: item.name,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/lesson/${item.id}`).then((response) => {
              this.lessons.splice(this.lessons.indexOf(item), 1)
              this.$toast.info('Урок удален!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>