<template>
  <b-container class="main" fluid>
    <b-row>
      <b-col md="6" lg="8" sm="12"></b-col>
      <b-col md="6" lg="4" sm="12" class="sidebar">
        <div class="content">
          <div class="logo mt-2">
            <img src="~/static/img/logo.png" />
          </div>
          <div class="auth-block">
            <b-form>
              <b-form-group id="input-group-4">
                <b-form-radio-group :state="Boolean(user.role)" v-model="user.role">
                  <b-form-radio value="admin">Admin</b-form-radio>
                  <b-form-radio value="inspector">Moderator</b-form-radio>
                </b-form-radio-group>
              </b-form-group>
              <b-form-group label-for="login">
                <b-form-input id="login" type="text" v-model="user.login" required placeholder="Логин"></b-form-input>
              </b-form-group>
              <b-form-group label-for="password">
                <b-form-input
                  id="password"
                  type="password"
                  v-model="user.password"
                  required
                  placeholder="Пароль"
                ></b-form-input>
              </b-form-group>
            </b-form>
            <b-button @click="login" class="w-100" variant="success mt-2">Войти</b-button>
          </div>
          <div></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  layout: 'login',
  components: {},
  data() {
    return {
      loginState: null,
      emailState: null,
      user: {
        login: '',
        password: '',
        role: '',
      },
    }
  },
  methods: {
    login() {
      if (this.user.role == false) {
        this.$toast.error('Выберите тип пользователя!').goAway(5000)
      } else {
        this.$http
          .post(`/api/auth/signin`, this.user)
          .then((response) => {
            this.$store.dispatch('user/login', response.data.data.token)
            this.$router.push('/admin')
          })
          .catch((e) => {})
      }
    },
  },
}
</script>

<style scoped>
.register-card {
  max-height: 100vh;
  overflow-y: scroll;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.logo img {
  width: 50%;
}
.logo {
  text-align: center;
}
.sidebar {
  backdrop-filter: blur(10px);
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(116, 185, 255, 0.3);
  color: #fff;
}
.main {
  width: 100%;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  filter: brightness(1.1);
}
</style>
