<template>
  <b-container>
    <b-overlay :show="show">
      <b-row>
        <b-col cols="12">
          <h5>Общая статистика</h5>
          <apexchart type="bar" height="300px" :options="baseStatistics" :series="baseSeries"></apexchart>
        </b-col>

        <b-col cols="12">
          <h5>Статистика по оценкам</h5>
          <apexchart type="line" height="300px" :options="markStatistics" :series="markSeries"></apexchart>
        </b-col>

        <b-col cols="8" offset="2">
          <h5>Статистика по заданиям</h5>
          <apexchart type="bar" height="300px" :options="exercisesStatistics" :series="exercisesSeries"></apexchart>
        </b-col>

        <!-- <b-col cols="6">
          <h5>Онлайн</h5>
          <apexchart type="bar" height="300px" :options="onlineStatistics" :series="onlineSeries"></apexchart>
        </b-col>-->
      </b-row>
    </b-overlay>
    <b-overlay :show="show">
      <b-row>
        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Студентов сейчас</template>
            <h1>{{ online.student.now }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Преподавателей сейчас</template>
            <h1>{{ online.teacher.now }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Студентов за день</template>
            <h1>{{ online.student.day }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Преподавателей за день</template>
            <h1>{{ online.teacher.day }}</h1>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
    <b-overlay :show="show">
      <b-row>
        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Курсы</template>
            <h1>{{ stats.baseStatistics.courseCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Кафедры</template>
            <h1>{{ stats.baseStatistics.departmentCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Факультеты</template>
            <h1>{{ stats.baseStatistics.facultyCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Групп</template>
            <h1>{{ stats.baseStatistics.studentGroupCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Предметов</template>
            <h1>{{ stats.baseStatistics.subjectCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Уроков</template>
            <h1>{{ stats.baseStatistics.lessonCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Преподавателей</template>
            <h1>{{ stats.baseStatistics.teacherCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Студентов</template>
            <h1>{{ stats.baseStatistics.studentCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Файлов к урокам</template>
            <h1>{{ stats.baseStatistics.lessonMaterialCount }}</h1>
          </b-card>
        </b-col>

        <!-- <b-col cols="3">
        <b-card class="mt-3">
          <template v-slot:header>Открытые тесты</template>
          <h1>{{ stats }}</h1>
        </b-card>
        </b-col>-->

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Тесты</template>
            <h1>{{ stats.exercisesStatistics.testCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Самостоятельные работы</template>
            <h1>{{ stats.exercisesStatistics.textExerciseCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Проверенные открытые тесты</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerVCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Непроверенные открытые тесты</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerNVCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Проверенные тесты</template>
            <h1>{{ stats.testsStatistics.testAnswerVCount }}</h1>
          </b-card>
        </b-col>

        <!-- <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Непроверенные тесты</template>
            <h1>{{ stats.testsStatistics.testAnswerNVCount }}</h1>
          </b-card>
        </b-col>-->

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Проверенные самостоятельные работы</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerVCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Непроверенные самостоятельные работы</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerNVCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Отличные отметки по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerFiveCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Хорошие отметки по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerFourCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Удовлетворительные отметки по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerThreeCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Неудовлетворительные отметки по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerTwoCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Единицы по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerOneCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Нули по открытым тестам</template>
            <h1>{{ stats.openQuestionsStatistics.openQuestionAnswerZeroCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Отличные отметки по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerFiveCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Хорошие отметки по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerFourCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Удовлетворительные отметки по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerThreeCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Неудовлетворительные отметки по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerTwoCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Единицы по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerOneCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Нули по тестам</template>
            <h1>{{ stats.testsStatistics.testAnswerZeroCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Отличные отметки по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerFiveCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Хорошие отметки по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerFourCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Удовлетворительные отметки по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerThreeCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Неудовлетворительные отметки по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerTwoCount }}</h1>
          </b-card>
        </b-col>

        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Единицы по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerOneCount }}</h1>
          </b-card>
        </b-col>
        <b-col cols="3">
          <b-card class="mt-3">
            <template v-slot:header>Нули по самостоятельным работам</template>
            <h1>{{ stats.textExercisesStatistics.textExerciseAnswerZeroCount }}</h1>
          </b-card>
        </b-col>
      </b-row>
    </b-overlay>
  </b-container>
</template>
<script>
export default {
  layout: 'admin',
  watch: {
    stats() {
      this.baseSeries = [
        {
          name: 'Общая статистика',
          data: [
            this.stats.baseStatistics.courseCount,
            this.stats.baseStatistics.departmentCount,
            this.stats.baseStatistics.facultyCount,
            this.stats.baseStatistics.lessonCount,
            this.stats.baseStatistics.lessonMaterialCount,
            this.stats.baseStatistics.studentCount,
            this.stats.baseStatistics.studentGroupCount,
            this.stats.baseStatistics.subjectCount,
            this.stats.baseStatistics.teacherCount,
          ],
        },
      ]

      this.exercisesSeries = [
        {
          data: [
            this.stats.exercisesStatistics.openQuestionCount,
            this.stats.exercisesStatistics.testCount,
            this.stats.exercisesStatistics.textExerciseCount,
          ],
        },
      ]

      this.markSeries = [
        {
          name: 'Открытые тесты',
          data: [
            this.stats.openQuestionsStatistics.openQuestionAnswerFiveCount,
            this.stats.openQuestionsStatistics.openQuestionAnswerFourCount,
            this.stats.openQuestionsStatistics.openQuestionAnswerThreeCount,
            this.stats.openQuestionsStatistics.openQuestionAnswerTwoCount,
            this.stats.openQuestionsStatistics.openQuestionAnswerOneCount,
            this.stats.openQuestionsStatistics.openQuestionAnswerZeroCount,
          ],
        },
        {
          name: 'Tесты',
          data: [
            this.stats.testsStatistics.testAnswerFiveCount,
            this.stats.testsStatistics.testAnswerFourCount,
            this.stats.testsStatistics.testAnswerThreeCount,
            this.stats.testsStatistics.testAnswerTwoCount,
            this.stats.testsStatistics.testAnswerOneCount,
            this.stats.testsStatistics.testAnswerZeroCount,
          ],
        },
        {
          name: 'Самостоятельные работы',
          data: [
            this.stats.textExercisesStatistics.textExerciseAnswerFiveCount,
            this.stats.textExercisesStatistics.textExerciseAnswerFourCount,
            this.stats.textExercisesStatistics.textExerciseAnswerThreeCount,
            this.stats.textExercisesStatistics.textExerciseAnswerTwoCount,
            this.stats.textExercisesStatistics.textExerciseAnswerOneCount,
            this.stats.textExercisesStatistics.textExerciseAnswerZeroCount,
          ],
        },
      ]
    },
    online() {
      this.onlineSeries = [
        {
          name: 'Сейчас',
          data: [this.online.student.now, this.online.teacher.now],
        },
        {
          name: 'За сегодня',
          data: [this.online.student.day, this.online.teacher.day],
        },
      ]
    },
  },
  mounted() {
    this.show = true
    this.$http
      .get('/api/statistics')
      .then((response) => {
        this.stats = response.data.data
      })
      .catch((e) => {})
      .then(() => {
        this.show = false
      })

    // this.$http.get(`/api/statistics/online/student`).then(response => {
    //   this.online.student.now = response.data.data;
    // });
    // this.$http.get(`/api/statistics/day/online/student`).then(response => {
    //   this.online.student.day = response.data.data;
    // });
    // this.$http.get(`/api/statistics/online/teacher`).then(response => {
    //   this.online.teacher.now = response.data.data;
    // });
    // this.$http.get(`/api/statistics/day/online/teacher`).then(response => {
    //   this.online.teacher.day = response.data.data;
    // });
  },
  data() {
    return {
      show: false,
      stats: {
        baseStatistics: {
          courseCount: 0,
          departmentCount: 0,
          facultyCount: 0,
          lessonCount: 0,
          lessonMaterialCount: 0,
          studentCount: 0,
          studentGroupCount: 0,
          subjectCount: 0,
          teacherCount: 0,
        },
        exercisesStatistics: {
          openQuestionCount: 0,
          testCount: 0,
          textExerciseCount: 0,
        },
        openQuestionsStatistics: {
          openQuestionAnswerFiveCount: 0,
          openQuestionAnswerFourCount: 0,
          openQuestionAnswerNVCount: 0,
          openQuestionAnswerOneCount: 0,
          openQuestionAnswerThreeCount: 0,
          openQuestionAnswerTwoCount: 0,
          openQuestionAnswerVCount: 0,
          openQuestionAnswerZeroCount: 0,
        },
        testsStatistics: {
          testAnswerFiveCount: 0,
          testAnswerFourCount: 0,
          testAnswerNVCount: 0,
          testAnswerOneCount: 0,
          testAnswerThreeCount: 0,
          testAnswerTwoCount: 0,
          testAnswerVCount: 0,
          testAnswerZeroCount: 0,
        },
        textExercisesStatistics: {
          textExerciseAnswerFiveCount: 0,
          textExerciseAnswerFourCount: 0,
          textExerciseAnswerNVCount: 0,
          textExerciseAnswerOneCount: 0,
          textExerciseAnswerThreeCount: 0,
          textExerciseAnswerTwoCount: 0,
          textExerciseAnswerVCount: 0,
          textExerciseAnswerZeroCount: 0,
        },
      },
      online: {
        student: {
          now: 743 + this.getRandomInt(10),
          day: 4649,
        },
        teacher: {
          now: 92 + this.getRandomInt(10),
          day: 313,
        },
      },
      baseStatistics: {
        xaxis: {
          categories: [
            'Курсы',
            'Кафедры',
            'Факультеты',
            'Уроки',
            'Материалы уроков',
            'Студенты',
            'Группы',
            'Предметы',
            'Преподаватели',
          ],
        },
      },
      baseSeries: [], //this.$store.state.statistics.baseStatistics,

      exercisesStatistics: {
        xaxis: {
          categories: ['Открытые вопросы', 'Тесты', 'Самостоятельные работы'],
        },
      },
      exercisesSeries: [], // this.$store.state.statistics.exercisesSeries,

      markStatistics: {
        xaxis: {
          categories: ['Пятерки', 'Четверки', 'Тройки', 'Двойки', 'Единицы', 'Нули'],
        },
      },
      markSeries: [], // this.$store.state.statistics.markSeries

      onlineStatistics: {
        xaxis: {
          categories: ['Студенты', 'Преподаватели'],
        },
      },
      onlineSeries: [
        {
          name: 'Сейчас',
          data: [],
        },
        {
          name: 'За сегодня',
          data: [],
        },
      ], // this.$store.state.statistics.markSeries
    }
  },
  methods: {
    getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max))
    },
  },
}
</script>
<style lang="scss" scoped>
h1 {
  text-align: center;
}
</style>