﻿<template>
  <div>
    <b-row align-h="end" class="actions mb-1">
      <b-col sm="12" md="4" lg="4">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
    </b-row>
    <b-overlay :show="show">
      <b-row class="subjects">
        <b-col md="4" lg="3" sm="12" class="mt-3" v-for="subject in filteredSubjects" :key="subject.id">
          <nuxt-link :to="`/exams/${subject.id}`">
            <b-card>
              <template v-slot:header>
                <p>Кафедра: {{ getDepartment(subject.departmentId).name }}</p>
              </template>
              <h6>{{ subject.name }}</h6>
            </b-card>
          </nuxt-link>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
export default {
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  computed: {
    filteredSubjects() {
      return this.subjects.filter((sub) => {
        return sub.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  data() {
    return {
      role: '',
      show: false,
      subjects: [],
      searchText: '',
    }
  },
  mounted() {
    this.role = localStorage.getItem('role')
    this.$store.commit('collections/setTitle', 'Экзмены')

    this.show = true
    this.$http
      .get('/api/subject')
      .then((response) => {
        this.subjects = response.data.data
      })
      .then(() => {
        this.show = false
      })
  },
  methods: {
    search() {
      let searchText = this.searchText.toLowerCase().trim()

      this.$http.post(`/api/subject/filter`, { name: searchText }).then((response) => {
        this.subjects = response.data.data
      })
    },
  },
}
</script>

<style scoped>
.title {
  margin-left: -15px;
  margin-bottom: 20px;
  padding: 0.5em;
  width: fit-content;
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #bdc3c7;
}
.card {
  min-height: 9rem;
}
a {
  color: black !important;
}
a:hover {
  text-decoration: none;
}
.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.009);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.3s;
}
</style>
