<template>
  <div>
    <b-table bordered striped hover :items="bindedSubjects" :fields="fields">
      <template v-slot:cell(departmentId)="{ item }">{{ getDepartment(item.departmentId).name }}</template>

      <template v-slot:cell(actions)="{ item }">
        <nuxt-link :to="`/admin/exams/${$route.params.group}/${item.id}`" size="sm" class="btn btn-sm btn-success">
          <fa icon="arrow-right" class="mr-1" />Перейти
        </nuxt-link>
      </template>
    </b-table>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  mounted() {
    this.$http.get(`/api/group/${this.$route.params.group}`).then((response) => {
      this.currentGroup = response.data.data
      this.$store.commit('collections/setTitle', this.currentGroup.name)
    })

    this.$http.get(`/api/subject/group/${this.$route.params.group}`).then((response) => {
      this.bindedSubjects = response.data.data
    })
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      currentGroup: {},
      bindedSubjects: [],

      fields: [
        { key: 'id', label: 'ID' },
        { key: 'name', label: 'Название предмета' },
        { key: 'departmentId', label: 'Кафедра' },
        { key: 'actions', label: 'Действия' },
      ],
    }
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>