<template>
  <!-- CALL WITH BUTTON OR MODAL -->
  <!-- <b-button v-b-modal.feedback class="w-100" variant="primary mt-3">Обратная связь</b-button> -->
  <b-modal id="feedback" ref="modal" title="Оставьте отзыв о платформе">
    <form ref="form" @submit.prevent="sendFeedback">
      <b-form-group
        :state="Boolean(feedback.content)"
        label-for="feedback-input"
        invalid-feedback="Напишите что-нибудь."
      >
        <b-form-textarea
          id="feedback-input"
          v-model="feedback.content"
          :state="Boolean(feedback.content)"
          required
        ></b-form-textarea>
      </b-form-group>
    </form>
    <template v-slot:modal-footer>
      <b-button variant="success" @click="sendFeedback">Отправить</b-button>
    </template>
  </b-modal>
</template>
<script>
export default {
  props: {
    student: { type: Object, default: () => {} },
    teacher: { type: Object, default: () => {} }
  },
  data() {
    return {
      feedback: {
        content: "",
        data: {},
        universityId: 1
      }
    };
  },
  methods: {
    sendFeedback() {
      this.feedback.data.student = JSON.stringify(this.student);
      this.feedback.data.teacher = JSON.stringify(this.teacher);
      this.feedback.data = JSON.stringify(this.feedback.data);

      this.$http.post("/api/feedback", this.feedback).then(response => {
        this.$toast.success("Отзыв отправлен!").goAway(1500);
        this.$bvModal.hide("feedback");
        this.feedback = {
          content: "",
          data: {}
        };
      });
    }
  }
};
</script>