<template>
  <div class="loader" :class="{'fixed': fixed}">
    <!-- <div class="cssload-dots">
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
      <div class="cssload-dot"></div>
    </div>-->

    <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="12" />
          <feColorMatrix
            in="blur"
            mode="matrix"
            values="1 0 0 0 0	0 1 0 0 0	0 0 1 0 0	0 0 0 18 -7"
            result="goo"
          />
        </filter>
      </defs>
    </svg>-->
    <b-progress :value="progress" show-progress animated></b-progress>
  </div>
</template>
<script>
export default {
  props: ["fixed", "progress"]
};
</script>
<style scoped>
@import "~/assets/css/loader.scss";

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 15;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
}
.loader.fixed {
  position: fixed;

  width: 100vw;
  height: 100vh;
  z-index: 1051;
}
</style>
