﻿<template>
  <div>
    <b-jumbotron :lead="`smart.tsue.uz/${$route.name}`">
      <template v-slot:header>Страница в разработке</template>
      <b-button variant="primary" @click="$router.go(-1)">Вернуться назад</b-button>
    </b-jumbotron>
  </div>
</template>