<template>
  <b-form @submit.prevent="$emit(action)">
    <b-row>
      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="photo">Фото</label>
        <b-form-file
          v-model="file"
          @input="photoUpload"
          id="photo"
          placeholder="Выберите файл"
          :state="Boolean(file)"
          accept="image/*"
        ></b-form-file>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="login">
          Логин
          <span class="red">*</span>
        </label>
        <b-input
          type="text"
          id="login"
          @input="check('login', student.login)"
          v-model="student.login"
          :state="loginState"
          required
        ></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="password">
          Пароль
          <span class="red">*</span>
        </label>
        <b-input id="password" type="password" v-model="student.password"></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="confirm_password">
          Подтвердите пароль
          <span class="red">*</span>
        </label>
        <b-input
          id="confirm_password"
          :state="confirmPasswordState"
          @input="checkPassword"
          type="password"
          v-model="confirmPassword"
        ></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="faculty">
          Факультет
          <span class="red">*</span>
        </label>
        <b-form-select
          id="faculty"
          @change="getCourseByFaculty"
          v-model="student.facultyId"
          :options="faculties"
          required
        ></b-form-select>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="course">
          Курс
          <span class="red">*</span>
        </label>
        <b-form-select
          id="course"
          @change="getGroupByCourse"
          v-model="student.courseId"
          :options="courses"
          required
        ></b-form-select>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="group">
          Группа
          <span class="red">*</span>
        </label>
        <b-form-select id="group" v-model="student.studentGroupId" :options="groups" required></b-form-select>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="firs-name">
          Имя
          <span class="red">*</span>
        </label>
        <b-input id="firs-name" type="text" v-model="student.firstName" required></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="last-name">
          Фамилия
          <span class="red">*</span>
        </label>
        <b-input id="last-name" type="text" v-model="student.lastName" required></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="middle-name">
          Отчество
          <span class="red">*</span>
        </label>
        <b-input id="middle-name" type="text" v-model="student.middleName" required></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="birth-date">
          Дата рождения
          <span class="red">*</span>
        </label>

        <b-input
          id="birth-date"
          v-mask="'##/##/####'"
          placeholder="дд/мм/гггг"
          v-model="student.birthDayDate"
          class="mb-2"
          required
        ></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="passport">
          Серия паспорта
          <span class="red">*</span>
        </label>
        <b-input id="passport" type="text" v-model="student.passportSeries" required></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="phone">
          Номер телефона
          <span class="red">*</span>
        </label>
        <b-input
          v-mask="'+############'"
          id="phone"
          type="text"
          v-model="student.phoneNumber"
          required
        ></b-input>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 mt-3">
        <label for="email">
          E-mail
          <span class="red">*</span>
        </label>
        <b-input
          id="email"
          type="email"
          @input="check('email', student.email)"
          :state="emailState"
          v-model="student.email"
          required
        ></b-input>
      </div>

      <b-col offset="12" offset-lg="6" lg="6" md="12" sm="12" class="mt-3">
        <b-button
          type="submit"
          variant="success"
        >{{action == 'register' ? 'Зарегистрироваться' : 'Изменить'}}</b-button>
      </b-col>
    </b-row>
  </b-form>
</template>
<script>
export default {
  props: {
    student: {
      firstName: String,
      lastName: String,
      middleName: String,
      birthDayDate: String,
      facultyId: Number,
      courseId: Number,
      studentGroupId: Number,
      login: String,
      password: String,
      photoPath: String,
      phoneNumber: String,
      email: String,
      passportSeries: String
    },
    action: {
      type: String,
      default: "register"
    }
  },
  data() {
    return {
      courses: [],
      groups: [],
      loginState: null,
      emailState: null,
      confirmPasswordState: null,
      confirmPassword: null,
      file: null
    };
  },
  watch: {
    student() {
      this.getCourseByFaculty();
      this.getGroupByCourse();
    }
  },
  methods: {
    getGroupByCourse() {
      this.$http
        .get(`/api/group/course/${this.student.courseId}`)
        .then(response => {
          this.groups = response.data.data.map(item => {
            return {
              value: item.id,
              text: item.name,
              facultyId: item.facultyId
            };
          });
        });
    },
    getCourseByFaculty() {
      this.$http
        .get(`/api/course/faculty/${this.student.facultyId}`)
        .then(response => {
          this.courses = response.data.data.map(item => {
            return {
              value: item.id,
              text: item.name,
              facultyId: item.facultyId
            };
          });
        });
    },
    check(type, content) {
      this.$http
        .post(`/api/auth/check/${type}`, {
          [`${type}`]: content,
          role: "student"
        })
        .then(response => {
          this[`${type}State`] = !response.data.data[`${type}Used`];
        });
    },
    photoUpload() {
      let photo = new FormData();
      photo.append("formFile", this.file);

      this.$http
        .post("/api/file/upload", photo, {
          header: {
            "Content-Type": "multipart/form-data",
            accept: "text/plain"
          }
        })
        .then(response => {
          this.student.photoPath = response.data.data;
        });
    },
    checkPassword() {
      this.confirmPasswordState =
        this.student.password == this.confirmPassword ? true : false;
    }
  }
};
</script>
