<template>
  <b-row>
    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="photo">Фото</label>
      <b-form-file
        v-model="file"
        @input="photoUpload"
        id="photo"
        placeholder="Выберите файл"
        :state="Boolean(file)"
        accept="image/*"
      ></b-form-file>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="login">Логин</label>
      <b-input
        type="text"
        id="login"
        @input="check('login', student.login)"
        v-model="student.login"
        :state="loginState"
        required
        disabled
      ></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="faculty">Факультет</label>
      <b-form-select
        id="faculty"
        @change="getCourseByFaculty"
        v-model="student.facultyId"
        :options="faculties"
        disabled
      ></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="course">Курс</label>
      <b-form-select
        id="course"
        @change="getGroupByCourse"
        v-model="student.courseId"
        :options="courses"
        disabled
      ></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="group">Группа</label>
      <b-form-select id="group" v-model="student.groupId" :options="groups" disabled></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="firs-name">Имя</label>
      <b-input id="firs-name" type="text" v-model="student.firstName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="last-name">Фамилия</label>
      <b-input id="last-name" type="text" v-model="student.lastName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="middle-name">Отчество</label>
      <b-input id="middle-name" type="text" v-model="student.middleName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="birth-date">Дата рождения</label>

      <b-input
        id="birth-date"
        v-mask="'##/##/####'"
        placeholder="дд/мм/гггг"
        v-model="student.birthDayDate"
        class="mb-2"
      ></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="passport">Серия паспорта</label>
      <b-input id="passport" type="text" v-model="student.passportSeries" disabled></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="phone">Номер телефона</label>
      <b-input id="phone" v-mask="'+############'" type="text" v-model="student.phoneNumber"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="email">E-mail</label>
      <b-input
        id="email"
        type="email"
        @input="check('email', student.email)"
        :state="emailState"
        v-model="student.email"
        disabled
      ></b-input>
    </b-form>

    <b-col offset="12" offset-lg="6" lg="6" md="12" sm="12" class="mt-3">
      <b-button @click="$emit('save')" variant="success">Сохранить</b-button>
    </b-col>
  </b-row>
</template>
<script>
export default {
  props: {
    student: {
      firstName: String,
      lastName: String,
      middleName: String,
      birthDayDate: String,
      facultyId: Number,
      courseId: Number,
      studentGroupId: Number,
      login: String,
      password: String,
      photoPath: String,
      phoneNumber: String,
      email: String,
      passportSeries: String
    }
  },
  mixins: ["mixins/collections"],
  watch: {
    student() {
      this.getCourseByFaculty();
      this.getGroupByCourse();
    }
  },
  data() {
    return {
      courses: [],
      groups: [],
      loginState: null,
      emailState: null,
      confirmPasswordState: null,
      confirmPassword: null,
      file: null
    };
  },
  methods: {
    getGroupByCourse() {
      this.$http
        .get(`/api/group/course/${this.student.courseId}`)
        .then(response => {
          this.groups = response.data.data.map(item => {
            return {
              value: item.id,
              text: item.name,
              facultyId: item.facultyId
            };
          });
        });
    },
    getCourseByFaculty() {
      this.$http
        .get(`/api/course/faculty/${this.student.facultyId}`)
        .then(response => {
          this.courses = response.data.data.map(item => {
            return {
              value: item.id,
              text: item.name,
              facultyId: item.facultyId
            };
          });
        });
    },
    check(type, content) {
      this.$http
        .post(`/api/auth/check${type}`, {
          [`${type}`]: content,
          role: "student"
        })
        .then(response => {
          this[`${type}State`] = !response.data.data[`${type}Used`];
        });
    },
    photoUpload() {
      let photo = new FormData();
      photo.append("formFile", this.file);

      this.$http
        .post("/api/file/upload", photo, {
          header: {
            "Content-Type": "multipart/form-data",
            accept: "text/plain"
          }
        })
        .then(response => {
          this.student.photoPath = response.data.data;
        });
    },
    checkPassword() {
      this.confirmPasswordState =
        this.student.password == this.confirmPassword ? true : false;
    }
  }
};
</script>r
