<template>
  <b-row>
    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="photo">Фото</label>
      <b-form-file
        v-model="file"
        @input="photoUpload"
        id="photo"
        placeholder="Выберите файл"
        :state="Boolean(file)"
        accept="image/*"
      ></b-form-file>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="login">
        Логин
        <!-- <span class="red">*</span> -->
      </label>
      <b-input
        type="text"
        id="login"
        @input="check('login', teacher.login)"
        v-model="teacher.login"
        :state="loginState"
        required
        disabled
      ></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="faculty">
        Факультет
        <!-- <span class="red">*</span> -->
      </label>
      <b-form-select
        id="faculty"
        @change="getDepartmentByFaculty"
        v-model="teacher.facultyId"
        :options="faculties"
      ></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="department">
        Кафедра
        <!-- <span class="red">*</span> -->
      </label>
      <b-form-select id="department" v-model="teacher.departmentId" :options="departments"></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="firs-name">Имя</label>
      <b-input id="firs-name" type="text" v-model="teacher.firstName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="last-name">Фамилия</label>
      <b-input id="last-name" type="text" v-model="teacher.lastName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="middle-name">Отчество</label>
      <b-input id="middle-name" type="text" v-model="teacher.middleName"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="birth-date">Дата рождения</label>
      <b-input
        id="birth-date"
        v-mask="'##/##/####'"
        placeholder="дд/мм/гггг"
        initial-date
        v-model="teacher.birthDayDate"
        class="mb-2"
      ></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="position">Должность</label>
      <b-form-select id="position" type="text" :options="positions" v-model="teacher.position"></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="academic-degree">Научная степень</label>
      <b-form-select
        id="academic-degree"
        type="text"
        :options="academicDegrees"
        v-model="teacher.academicDegree"
      ></b-form-select>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="phone">Номер телефона</label>
      <b-input id="phone" v-mask="'+############'" type="text" v-model="teacher.phoneNumber"></b-input>
    </b-form>

    <b-form class="col-lg-6 col-md-12 col-sm-12 mt-3">
      <label for="email">E-mail</label>
      <b-input
        id="email"
        type="email"
        @input="check('email', teacher.email)"
        :state="emailState"
        v-model="teacher.email"
        disabled
      ></b-input>
    </b-form>

    <b-col offset="12" offset-lg="6" lg="6" md="12" sm="12" class="mt-3">
      <b-button @click="$emit('save')" variant="success">Сохранить</b-button>
    </b-col>
  </b-row>
</template>
<script>
export default {
  props: {
    teacher: {
      firstName: String,
      lastName: String,
      middleName: String,
      birthDayDate: String,
      position: String,
      academicDegree: String,
      login: String,
      password: String,
      photoPath: String,
      departmentId: Number,
      phoneNumber: String,
      email: String,
      facultyId: Number
    }
  },
  mixins: ["mixins/collections"],
  watch: {
    teacher() {
      this.getDepartmentByFaculty();
    }
  },
  data() {
    return {
      gotIt: true,
      departments: [],
      loginState: null,
      emailState: null,
      confirmPasswordState: null,
      confirmPassword: null,
      file: null,
      positions: [
        {
          value: "Профессор",
          text: "Профессор"
        },
        {
          value: "Доцент",
          text: "Доцент"
        },
        {
          value: "Старший преподаватель",
          text: "Старший преподаватель"
        },
        {
          value: "Ассистент",
          text: "Ассистент"
        }
      ],
      academicDegrees: [
        {
          text: "Доктор наук (DSc)",
          value: "Доктор наук (DSc)"
        },
        {
          text: "Кандидат наук (PhD)",
          value: "Кандидат наук (PhD)"
        },
        {
          text: "Без научной степени",
          value: "Без научной степени"
        }
      ]
    };
  },
  methods: {
    getDepartmentByFaculty() {
      this.$http
        .get(`/api/department/faculty/${this.teacher.facultyId}`)
        .then(response => {
          this.departments = response.data.data.map(item => {
            return {
              value: item.id,
              text: item.name,
              facultyId: item.facultyId
            };
          });
        });
    },
    check(type, content) {
      this.$http
        .post(`/api/auth/check${type}`, {
          [`${type}`]: content,
          role: "teacher"
        })
        .then(response => {
          this[`${type}State`] = !response.data.data[`${type}Used`];
        });
    },
    photoUpload() {
      let photo = new FormData();
      photo.append("formFile", this.file);

      this.$http
        .post("/api/file/upload", photo, {
          header: {
            "Content-Type": "multipart/form-data",
            accept: "text/plain"
          }
        })
        .then(response => {
          this.teacher.photoPath = response.data.data;
        });
    },
    checkPassword() {
      this.confirmPasswordState =
        this.teacher.password == this.confirmPassword ? true : false;
    }
  }
};
</script>r
