<template>
  <div>
    <b-row align-h="end" class="actions mb-1">
      <b-col cols="4">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
      <b-col>
        <b-button @click="search" variant="success">Поиск</b-button>
      </b-col>
    </b-row>
    <b-overlay :show="show">
      <b-row class="subjects">
        <b-col md="4" lg="3" sm="12" class="mt-3" v-for="subject in filteredSubjects" :key="subject.id">
          <nuxt-link :to="`/check-answers/${subject.subjectId}`">
            <b-card header-tag="header">
              <!-- <template v-slot:header>
                <b-badge variant="success">Проверено: {{subject.verifiedAnswers}}</b-badge>
                <b-badge variant="danger">Непроверено: {{subject.unverifiedAnswers}}</b-badge>
              </template>-->
              <h5>{{ subject.subjectName }}</h5>
              <p><b>Кафедра:</b> {{ getDepartment(subject.departmentId).name }}</p>
            </b-card>
          </nuxt-link>
        </b-col>
      </b-row>
    </b-overlay>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      show: false,
      subjects: [],
      searchText: '',
    }
  },
  mounted() {
    this.show = true
    this.$http
      .get('/api/checkanswer/subjects')
      .then((response) => {
        this.subjects = response.data.data
      })
      .then(() => {
        this.show = false
      })
  },
  watch: {
    searchText: function () {
      this.search()
    },
  },
  computed: {
    filteredSubjects() {
      return this.subjects.filter((sub) => {
        return sub.subjectName.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  methods: {
    search() {
      // let searchText = this.searchText; //.toLowerCase().trim();
      // this.subjects = this.subjects.filter(lesson => {
      //   return lesson.name.includes(searchText);
      // });
      // this.$http
      //   .post(`/api/subject/filter`, {
      //     name: searchText
      //   })
      //   .then(response => {
      //     this.subjects = response.data.data;
      //   });
    },
  },
}
</script>

<style scoped>
.card {
  min-height: 9rem;
}
</style>
