.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
    transition: opacity .3s;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
    opacity: 0;
}

.btn-back:hover {
    cursor: pointer;
}

.red {
    color: red;
}

.card-text {
    /* height: 3rem; */
    overflow: hidden;
}

.list-complete-item {
    transition: all .3s;
    display: inline-block;
}

.list-complete-enter,
.list-complete-leave-to {
    opacity: 0;
    transform: scale(.5);
}

.list-complete-leave-active {
    position: absolute;
    right: 0;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.009);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
}

.hover:hover {
    cursor: pointer;
}

.theme-img {
    height: 200px;
}

.theme-img img {
    height: 100%;
    object-fit: cover;
}

.group-card {
    min-height: 1rem !important;
    text-align: center;
}

.theme-img img {
    height: 100%;
    object-fit: cover;
}