<template>
  <div>
    <b-modal id="edit" ref="modal" title="Изменить">
      <form ref="form">
        <b-form-group label="Name" label-for="name-input">
          <b-form-input id="name-input" v-model="modalModel.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="Факультет" label-for="name-input">
          <b-form-select
            id="name-input"
            v-model="modalModel.facultyId"
            :options="faculties"
            required
            disabled
          ></b-form-select>
        </b-form-group>
        <b-form-group label="Name" label-for="name-input">
          <b-form-select id="name-input" v-model="modalModel.courseId" :options="courses" required></b-form-select>
        </b-form-group>
      </form>
      <template v-slot:modal-footer>
        <b-button @click="edit(modalModel)" variant="success">Сохранить</b-button>
      </template>
    </b-modal>

    <b-card>
      <template v-slot:header>
        <h5 for="department">Группы</h5>
      </template>

      <b-form v-if="role == 'admin'" @submit.prevent="addGroup">
        <b-row align-v="end">
          <b-col cols="9">
            <b-form-input id="group" v-model="group.name" placeholder="Введите название группы"></b-form-input>
          </b-col>
          <b-col>
            <b-button type="submit" variant="success">Добавить</b-button>
          </b-col>
        </b-row>
      </b-form>

      <b-row>
        <b-col v-for="group in groupsByCourse" :key="group.id" cols="6">
          <b-card class="mt-3">
            {{ group.name }}
            <div class="float-right">
              <fa
                v-if="role == 'admin'"
                @click="editModal(group)"
                class="icon"
                :style="{ color: '#007bff' }"
                icon="pen"
              />
              <fa
                v-if="role == 'admin'"
                class="icon"
                @click="deleteItem(group)"
                :style="{ color: '#dc3545' }"
                icon="trash"
              />
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Кафедры',
    }
  },

  mounted() {
    this.$http.get(`/api/group/course/${this.$route.params.course}`).then((response) => {
      this.groupsByCourse = response.data.data
    })

    this.$http.get(`/api/course/faculty/${this.$route.params.faculty}`).then((response) => {
      this.courses = response.data.data.map((item) => {
        return {
          text: item.name,
          value: item.id,
          facultyId: item.facultyId,
        }
      })
    })
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      modalModel: {},

      group: {
        name: '',
        courseId: +this.$route.params.course,
      },
      groupsByCourse: [],
      courses: [],
    }
  },
  methods: {
    //Both methods
    editModal(item) {
      this.$bvModal.show('edit')
      this.modalModel = { ...item }
      this.modalModel.facultyId = +this.$route.params.faculty
    },
    edit(item) {
      delete item.facultyId
      this.$http.put(`/api/group/${item.id}`, item).then((response) => {
        if (response.data.status == 'success') {
          this.groupsByCourse = this.groupsByCourse.map((el) => (el.id === item.id ? response.data.data : el))
          this.$toast.success('Группа изменена.').goAway(1500)
          this.$bvModal.hide('edit')
        }
      })
    },

    deleteItem(item) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: item.name,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/group/${item.id}`).then((response) => {
              this.groupsByCourse.splice(this.groupsByCourse.indexOf(item), 1)
              this.$toast.info('Группа удалена!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },

    addGroup() {
      this.$http.post('/api/group', this.group).then((response) => {
        this.group.name = ''
        this.groupsByCourse.push(response.data.data)
        this.$toast.success('Группа добавлена.').goAway(1500)
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>