<template>
  <div>
    <b-modal id="edit" ref="modal" title="Изменить">
      <form ref="form">
        <b-form-group label="Name" label-for="name-input">
          <b-form-input id="name-input" v-model="modalModel.name" required></b-form-input>
        </b-form-group>

        <b-form-group label="Name" label-for="name-input">
          <b-form-select id="name-input" v-model="modalModel.facultyId" :options="faculties" required></b-form-select>
        </b-form-group>
      </form>
      <template v-slot:modal-footer>
        <b-button @click="edit(modalModel, modalModel.type)" variant="success">Сохранить</b-button>
      </template>
    </b-modal>

    <b-card>
      <template v-slot:header>
        <h5 for="department">Кафедра</h5>
      </template>

      <b-form v-if="role == 'admin'" @submit.prevent="addDepartment">
        <b-row align-v="end">
          <b-col cols="9">
            <b-form-input
              id="department"
              v-model="department.name"
              placeholder="Введите название кафедры"
            ></b-form-input>
          </b-col>
          <b-col>
            <b-button type="submit" variant="success">Добавить</b-button>
          </b-col>
        </b-row>
      </b-form>

      <b-row>
        <b-col v-for="department in departmentsByFaculty" :key="department.id" cols="6">
          <b-card class="mt-3">
            {{ department.name }}
            <div class="float-right">
              <fa
                v-if="role == 'admin'"
                @click="editModal(department, 'department')"
                class="icon"
                :style="{ color: '#007bff' }"
                icon="pen"
              />
              <fa
                v-if="role == 'admin'"
                class="icon"
                @click="deleteItem(department, 'department')"
                :style="{ color: '#dc3545' }"
                icon="trash"
              />
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card>

    <b-card class="mt-3">
      <template v-slot:header>
        <h5 for="department">Курсы</h5>
      </template>
      <b-form v-if="role == 'admin'" @submit.prevent="addCourse">
        <b-row align-v="end">
          <b-col cols="9">
            <b-form-input v-model="course.name" placeholder="Введите название курса"></b-form-input>
          </b-col>
          <b-col>
            <b-button type="submit" variant="success">Добавить</b-button>
          </b-col>
        </b-row>
      </b-form>
      <b-row>
        <b-col v-for="course in coursesByFaculty" :key="course.id" cols="6">
          <b-card class="mt-3">
            <nuxt-link :to="`/admin/management/${$route.params.faculty}/${course.id}`">{{ course.name }}</nuxt-link>

            <div class="float-right">
              <fa
                v-if="role == 'admin'"
                @click="editModal(course, 'course')"
                class="icon"
                :style="{ color: '#007bff' }"
                icon="pen"
              />

              <fa
                v-if="role == 'admin'"
                class="icon"
                @click="deleteItem(course, 'course')"
                :style="{ color: '#dc3545' }"
                icon="trash"
              />
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Кафедры',
    }
  },

  mounted() {
    this.$http.get(`/api/department/faculty/${this.$route.params.faculty}`).then((response) => {
      this.departmentsByFaculty = response.data.data
    })

    this.$http.get(`/api/course/faculty/${this.$route.params.faculty}`).then((response) => {
      this.coursesByFaculty = response.data.data
    })
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      modalModel: {
        type: '',
      },

      department: {
        name: '',
        id: null,
        facultyId: this.$route.params.faculty,
      },
      course: {
        name: '',
        id: null,
        facultyId: this.$route.params.faculty,
      },
      departmentsByFaculty: [],
      coursesByFaculty: [],
    }
  },
  methods: {
    //Both methods
    editModal(item, type) {
      this.$bvModal.show('edit')
      this.modalModel = { ...item }
      this.modalModel.type = type
    },
    edit(item, type) {
      this.$http.put(`/api/${type}/${item.id}`, item).then((response) => {
        if (response.data.status == 'success') {
          this[`${type}sByFaculty`] = this[`${type}sByFaculty`].map((el) =>
            el.id === item.id ? response.data.data : el
          )
          let msg = type == 'department' ? 'Кафедра изменена!' : 'Курс изменен!'
          this.$toast.success(msg).goAway(1500)
          this.$bvModal.hide('edit')
        }
      })
    },
    deleteItem(item, type) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: item.name,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/${type}/${item.id}`).then((response) => {
              this[`${type}sByFaculty`].splice(this[`${type}sByFaculty`].indexOf(item), 1)
              let msg = type == 'department' ? 'Кафедра удалена!' : 'Курс удален!'

              this.$toast.info(msg).goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },

    //Departments CRUD
    addDepartment() {
      this.$http.post('/api/department', this.department).then((response) => {
        this.department.name = ''
        this.departmentsByFaculty.push(response.data.data)
        this.$toast.success('Кафедра добавлена.').goAway(1500)
      })
    },

    //Courses CRUD
    addCourse() {
      this.$http.post('/api/course', this.course).then((response) => {
        this.course.name = ''
        this.coursesByFaculty.push(response.data.data)
        this.$toast.success('Курс добавлен.').goAway(1500)
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>