<template>
  <div>
    <b-modal id="edit" ref="modal" title="Изменить" @hidden="handleHide">
      <form ref="form">
        <b-form-group label="Name" label-for="name-input" invalid-feedback="Name is required">
          <b-form-input id="name-input" v-model="faculty.name" required></b-form-input>
        </b-form-group>
      </form>
      <template v-slot:modal-footer>
        <b-button @click="editFaculty(faculty)" variant="success">Сохранить</b-button>
      </template>
    </b-modal>

    <b-form v-if="role == 'admin'" @submit.prevent="addFaculty">
      <b-row align-v="end">
        <b-col cols="9">
          <label for="faculty">Факультет</label>
          <b-form-input id="faculty" v-model="faculty.name" placeholder="Введите название факультета"></b-form-input>
        </b-col>
        <b-col>
          <b-button type="submit" variant="success">Добавить</b-button>
        </b-col>
      </b-row>
    </b-form>

    <b-row>
      <b-col v-for="faculty in facultiesByUniver" :key="faculty.id" cols="6">
        <b-card class="mt-3">
          <nuxt-link :to="`/admin/management/${faculty.id}`">{{ faculty.name }}</nuxt-link>
          <div class="float-right">
            <fa
              v-if="role == 'admin'"
              @click="editModal(faculty)"
              class="icon"
              :style="{ color: '#007bff' }"
              icon="pen"
            />
            <fa
              v-if="role == 'admin'"
              class="icon"
              @click="deleteFaculty(faculty)"
              :style="{ color: '#dc3545' }"
              icon="trash"
            />
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },

  mounted() {
    this.$http.get(`/api/faculty/university/1`).then((response) => {
      this.facultiesByUniver = response.data.data
    })
  },
  data() {
    return {
      role: localStorage.getItem('role'),
      faculty: {
        name: '',
        id: null,
        universityId: 1,
      },
      facultiesByUniver: [],
    }
  },
  methods: {
    editModal(faculty) {
      this.$bvModal.show('edit')
      this.faculty = { ...faculty }
    },
    handleHide() {
      this.faculty.name = ''
    },
    addFaculty() {
      this.$http.post('/api/faculty', this.faculty).then((response) => {
        this.faculty.name = ''
        this.facultiesByUniver.push(response.data.data)
        this.$toast.success('Факультет добавлен.').goAway(1500)
      })
    },
    deleteFaculty(item) {
      this.boxTwo = ''
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: item.name,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/faculty/${item.id}`).then((response) => {
              this.facultiesByUniver.splice(this.facultiesByUniver.indexOf(item), 1)
              this.$toast.info('Факультет удален!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
    editFaculty(item) {
      this.$http.put(`/api/faculty/${item.id}`, item).then((response) => {
        if (response.data.status == 'success') {
          this.facultiesByUniver = this.facultiesByUniver.map((el) => (el.id === item.id ? response.data.data : el))
          this.$toast.success('Факультет изменен!').goAway(1500)
          this.$bvModal.hide('edit')
        }
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>