<template>
  <b-container class="p-4 register-card">
    <b-card no-body title="Настройки">
      <b-tabs header-variant="white" card>
        <b-tab title="Настройки">
          <TeacherForm v-if="role == 'teacher'" @save="save" :teacher="model" />
          <StudentForm v-if="role == 'student'" @save="save" :student="model" />
        </b-tab>
        <b-tab title="Изменить пароль">
          <b-form @submit.prevent="changePass">
            <b-row>
              <div class="col-md-4 offset-md-4 mt-3">
                <label for="password_old">
                  Старый пароль
                  <span class="red">*</span>
                </label>
                <b-input
                  id="password_old"
                  type="password"
                  v-model="password.oldPassword"
                  :state="!!password.oldPassword"
                  required
                ></b-input>
              </div>

              <div class="col-md-4 offset-md-4 mt-3">
                <label for="password">
                  Пароль
                  <span class="red">*</span>
                </label>
                <b-input
                  id="password"
                  type="password"
                  v-model="password.newPassword"
                  :state="!!password.newPassword"
                  required
                ></b-input>
              </div>

              <div class="col-md-4 offset-md-4 mt-3">
                <label for="confirm_password">
                  Подтвердите пароль
                  <span class="red">*</span>
                </label>
                <b-input
                  id="confirm_password"
                  :state="!!confirmPasswordState"
                  @input="checkPassword"
                  type="password"
                  v-model="password.confirmPassword"
                  required
                ></b-input>
              </div>
            </b-row>
            <b-col offset="12" offset-lg="6" lg="6" md="12" sm="12" class="mt-3">
              <b-button type="submit" variant="success">Изменить пароль</b-button>
            </b-col>
          </b-form>
        </b-tab>
      </b-tabs>
    </b-card>
  </b-container>
</template>
<script>
import TeacherForm from '~/components/TeacherSettingsForm'
import StudentForm from '~/components/StudentSettingsForm'
export default {
  components: {
    TeacherForm,
    StudentForm,
  },
  mounted() {
    this.$http
      .get(`/api/profile/${this.role}`)
      .then((response) => {
        this.model = {
          ...response.data.data,
          birthDayDate: this.ISOtoDate(response.data.data.birthDayDate),
        }
      })
      .catch((e) => {
        console.log(e.response)
      })
  },
  data() {
    return {
      confirmPasswordState: null,
      password: {
        oldPassword: '',
        newPassword: '',
        confirmPassword: '',
      },
      role: localStorage.getItem('role'),
      model: {},
    }
  },
  methods: {
    save() {
      let birthDayDate = this.dateToISO(this.model.birthDayDate)

      if (this.role == 'student') {
        delete this.model.facultyId
        delete this.model.groupId
        delete this.model.passportSeries
        delete this.model.courseId
      }
      this.$http
        .put(`/api/profile/${this.role}`, {
          ...this.model,
          birthDayDate,
        })
        .then((response) => {
          if (response.data.status == 'success') {
            this.$toast.success('Изменения сохранены!').goAway(1500)
            this.$router.push('/')
          }
        })
    },
    checkPassword() {
      this.confirmPasswordState = this.password.newPassword == this.password.confirmPassword ? true : false
    },
    changePass() {
      if (this.confirmPasswordState) {
        // delete this.password.confirmPassword;
        this.$http
          .post('/api/profile/change_password', this.password)
          .then((response) => {
            this.$toast.success('Пароль изменен.').goAway(1500)
            this.$router.push('/')
          })
          .catch((e) => {})
      }
    },
  },
}
</script>
