<template>
  <b-container class="main" fluid>
    <b-sidebar id="user-info" md="6" lg="3" sm="12" class="sidebar" width="350px" shadow>
      <div class="user-info">
        <div class="avatar mt-2">
          <!-- <b-img
              v-if="user.photoPath"
              :src="`${env.API_URL}/api/file/download/${user.photoPath}`"
          />-->
          <b-img src="~static/img/logo.png" />
        </div>
        <div class="user-fio mt-2">
          <h4>Администратор</h4>
        </div>
        <div>
          <ul class="menu">
            <li class="menu-item">
              <nuxt-link to="/admin">Статистика</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/management">Менеджер</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/subjects">Предметы</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/subject-group">Управление предметами</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/marks">Журнал оценок</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/exams">Экзамены</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/users/teachers">Преподаватели</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/users/students">Студенты</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/check-students">Проверка данных студентов</nuxt-link>
            </li>
            <li class="menu-item">
              <nuxt-link to="/admin/feedbacks">Отзывы</nuxt-link>
            </li>

            <li class="menu-item" @click="logout">Выйти</li>
          </ul>
          <div class="text-center">
            <img src="http://tsue.uz/wp-content/themes/tdiu-underscores/images/logo-tsue.png" alt />
          </div>
        </div>
      </div>
    </b-sidebar>
    <b-container class="p-3" fluid>
      <b-card>
        <template v-slot:header>
          <div class="title">
            <h3>
              <span class="btn-back">
                <fa v-b-toggle.user-info icon="bars" />
              </span>
              |
              <span class="btn-back">
                <fa @click="$router.go(-1)" icon="arrow-left" />
              </span>
              |
              <span>{{ $store.state.collections.title }}</span>
            </h3>
          </div>
        </template>
        <nuxt />
      </b-card>
    </b-container>
  </b-container>
</template>
<script>
export default {
  mixins: ['mixins/env', 'mixins/collections'],
  data() {
    return {
      role: localStorage.getItem('role'),
    }
  },
  methods: {
    logout() {
      this.$store.dispatch('user/logout').then(() => {
        this.$router.push('/login')
      })
    },
  },
}
</script>

<style scoped>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}
.menu {
  padding: 0.4rem;
  width: fit-content;
  margin: 0 auto;
}
.menu-item {
  list-style: none;
  font-size: 19px;
  padding: 0.4em;
  border-bottom: 2px solid darkgray;
  text-align: left;
  transition: ease-out 0.2s;
}
.menu-item a {
  color: inherit;
}
.menu-item a:hover {
  text-decoration: none;
}
.menu-item:hover {
  cursor: pointer;
  background-color: darkgray;
  color: #fff;
  transition: ease-in 0.2s;
}
.user-info {
  color: #000;
  text-align: center;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
.avatar {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #2980b9;
  overflow: hidden;
  display: flex;
}
/* .sidebar {
  backdrop-filter: blur(10px);
  padding: 1rem;
  height: 100vh;
  width: 100%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(223, 230, 233, 0.7);
  color: #fff;
} */
.main {
  width: 100%;
  min-height: 100vh;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
</style>
