<template>
  <b-container class="main" fluid>
    <Feedback v-if="role == 'teacher'" :teacher="user" />
    <Feedback v-else :student="user" />
    <b-row>
      <b-sidebar id="user-info" width="350px" md="6" lg="3" sm="12" class="sidebar">
        <div class="user-info">
          <div class="avatar mt-2">
            <b-img v-if="user.photoPath" :src="`${env.API_URL}/api/file/download/${user.photoPath}`" />
            <b-img v-else src="~static/img/user.png" />
          </div>
          <div class="user-fio mt-2">
            <h4>{{ user.lastName + ' ' + user.firstName + ' ' + user.middleName }}</h4>
            <p v-if="role == 'teacher'">
              <strong>Кафедра:</strong>
              {{ getDepartment(user.departmentId).name }}
            </p>
            <p v-else>
              <strong>Группа:</strong>
              {{ group.name }}
            </p>
          </div>
          <div>
            <ul class="menu">
              <li class="menu-item">
                <nuxt-link to="/profile/settings">Настройки профиля</nuxt-link>
              </li>
              <li class="menu-item">
                <nuxt-link to="/">Мои предметы</nuxt-link>
              </li>
              <li v-if="role == 'teacher'" class="menu-item">
                <nuxt-link to="/check-answers">Проверить ответы</nuxt-link>
              </li>
              <li v-if="role == 'teacher'" class="menu-item">
                <nuxt-link to="/exams">Экзамены</nuxt-link>
              </li>
              <li v-else class="menu-item">
                <nuxt-link to="/exam">Экзамены</nuxt-link>
              </li>
              <li v-if="role == 'student'" class="menu-item">
                <nuxt-link to="/marks">Мои оценки</nuxt-link>
              </li>
              <li class="menu-item" @click="$bvModal.show('feedback')">Обратная связь</li>
              <li class="menu-item" @click="logout">Выйти</li>
            </ul>
          </div>
          <div class="text-center footer-logo">
            <img src="http://tsue.uz/wp-content/themes/tdiu-underscores/images/logo-tsue.png" alt />
          </div>
        </div>
      </b-sidebar>
      <b-container class="p-3" fluid>
        <b-card>
          <template v-slot:header>
            <div class>
              <h3>
                <span class="btn-back">
                  <fa v-b-toggle.user-info icon="bars" />
                </span>
                |
                <span class="btn-back">
                  <fa @click="$router.go(-1)" icon="arrow-left" />
                </span>
                |
                <span>{{ $store.state.collections.title }}</span>
              </h3>
            </div>
          </template>
          <nuxt />
        </b-card>
      </b-container>
    </b-row>
  </b-container>
</template>
<script>
import Feedback from '~/components/Feedback'
export default {
  mixins: ['mixins/env', 'mixins/collections'],
  data() {
    return {
      role: localStorage.getItem('role'),
      user: {},
      group: '',
    }
  },

  components: { Feedback },
  mounted() {
    this.$http
      .get(`/api/profile/${this.role}`)
      .then((response) => {
        this.user = response.data.data
        if (this.role == 'student') {
          this.$http.get(`/api/group/${this.user.groupId}`).then((response) => {
            this.group = response.data.data
          })
        }
      })
      .catch((e) => {
        console.log(e.response)
      })
  },
  methods: {
    logout() {
      this.$store.dispatch('user/logout').then(() => {
        this.$router.push('/login')
      })
    },
  },
}
</script>

<style>
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif;
}
.footer-logo {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}
.menu {
  padding: 0.4rem;
  width: fit-content;
  margin: 0 auto;
}
.menu-item {
  list-style: none;
  font-size: 19px;
  padding: 0.4em;
  border-bottom: 2px solid darkgray;
  text-align: left;
  transition: ease-out 0.2s;
}
.menu-item a {
  color: inherit;
}
.menu-item a:hover {
  text-decoration: none;
}
.menu-item:hover {
  cursor: pointer;
  background-color: darkgray;
  color: #fff;
  transition: ease-in 0.2s;
}
.user-info {
  color: #000;
  text-align: center;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.avatar img {
  width: 100%;
  object-fit: cover;
}
.avatar {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid #2980b9;
  overflow: hidden;
  display: flex;
}
/* .sidebar {
  backdrop-filter: blur(10px);
  padding: 1rem;
  height: 100vh;
  width: 100%;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(223, 230, 233, 0.7);
  color: #fff;
} */
.main {
  width: 100%;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
</style>
