<template>
  <div>
    <b-row align-h="end">
      <b-col cols="auto">
        <b-button @click="download" variant="success">Скачать файлом</b-button>
      </b-col>
    </b-row>

    <div class="mt-2">
      <b-table bordered striped hover :items="marks" :fields="fields">
        <template v-slot:cell(studentFullName)="row">
          <div style="width: 230px">{{ row.item.studentFullName }}</div>
        </template>

        <template v-slot:cell(openQuestionsMarks)="row">
          <span class="text-success" v-for="(mark, $ind) in row.item.openQuestionsMarks" :key="$ind * mark">
            {{ mark + ($ind + 1 == row.item.openQuestionsMarks.length ? '. ' : ', ') }}
          </span>
          <br />Суммарно:
          <strong class="text-info">{{ summary(row.item.openQuestionsMarks) }} б.</strong>
        </template>

        <template v-slot:cell(testMarks)="row">
          <div class="text-success my-2">
            <span class="text-success" v-for="(mark, $ind) in row.item.testMarks" :key="$ind * mark">
              {{ mark + ($ind + 1 == row.item.testMarks.length ? '. ' : ', ') }}
            </span>
            <br />Суммарно:
            <strong class="text-info">{{ row.item.testMarks ? summary(row.item.testMarks) : '' }} б.</strong>
          </div>
        </template>

        <template v-slot:cell(textExercisesMarks)="row">
          <span class="text-success" v-for="(mark, $ind) in row.item.textExercisesMarks" :key="$ind * mark">
            {{ mark + ($ind + 1 == row.item.textExercisesMarks.length ? '. ' : ', ') }}
          </span>
          <br />Суммарно:
          <strong class="text-info">
            {{ row.item.textExercisesMarks ? summary(row.item.textExercisesMarks) : '' }} б.
          </strong>
        </template>
      </b-table>
    </div>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  mounted() {
    this.$http
      .get(`/api/mark/import/subject/${this.$route.params.subject}/group/${this.$route.params.group}`)
      .then((response) => {
        // this.bindedSubjects = response.data.data;
        this.marks = response.data.data.studentMarkReport
        this.$store.commit(
          'collections/setTitle',
          response.data.data.subject.name + ' ' + response.data.data.group.name
        )
        this.data = response.data.data
      })
  },
  data() {
    return {
      role: localStorage.getItem('role'),
      data: [],

      fields: [
        { key: 'studentFullName', label: 'ФИО' },
        { key: 'openQuestionsMarks', label: 'Открытые вопросы' },
        { key: 'testMarks', label: 'Тесты' },
        { key: 'textExercisesMarks', label: 'Самостоятельные работы' },
      ],
      marks: [],
    }
  },
  methods: {
    download() {
      this.$http
        .post(`/api/mark/export`, this.data, {
          responseType: 'blob',
        })
        .then((response) => {
          if (process.client) {
            const url = window.URL.createObjectURL(new Blob([response.data]))
            const link = document.createElement('a')
            link.href = url
            link.setAttribute('download', `${this.data.group.name} Marks.xlsx`) //or any other extension
            document.body.appendChild(link)
            link.click()
          }
        })
    },
    summary(marks) {
      if (marks.length) return marks.reduce((acc, mark) => acc + mark)
      else return 0
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>