<template>
  <b-container class="main" fluid>
    <Feedback :student="student" :teacher="teacher" />
    <b-row>
      <b-col md="6" lg="8" sm="12">
        <transition name="fade">
          <b-container class="p-4 register-card" v-if="registerForm">
            <b-card title="Регистрация">
              <b-card-body>
                <b-form-group id="input-group-4">
                  <b-form-radio-group :state="Boolean(user.role)" v-model="user.role">
                    <b-form-radio value="student">Студент</b-form-radio>
                    <b-form-radio value="teacher">Преподаватель</b-form-radio>
                  </b-form-radio-group>
                </b-form-group>
                <b-button v-if="registerError" @click="registerIssue" variant="danger">
                  Проблемы с регистрацией?
                </b-button>
                <TeacherForm v-if="user.role == 'teacher'" @register="register" :teacher="teacher" />
                <StudentForm v-if="user.role == 'student'" @register="register" :student="student" />
              </b-card-body>
            </b-card>
          </b-container>
        </transition>
      </b-col>
      <b-col md="6" lg="4" sm="12" class="sidebar">
        <div class="content">
          <div class="logo mt-2">
            <img src="~/static/img/logo.png" />
          </div>
          <div class="auth-block">
            <b-form-group id="input-group-4">
              <b-form-radio-group :state="Boolean(user.role)" v-model="user.role">
                <b-form-radio value="student">Студент</b-form-radio>
                <b-form-radio value="teacher">Преподаватель</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
            <b-form>
              <b-form-group label-for="login">
                <b-form-input id="login" type="text" v-model="user.login" required placeholder="Логин"></b-form-input>
              </b-form-group>
              <b-form-group label-for="password">
                <b-form-input
                  id="password"
                  type="password"
                  v-model="user.password"
                  required
                  placeholder="Пароль"
                ></b-form-input>
              </b-form-group>
            </b-form>
            <nuxt-link to="/forgot">Забыли пароль?</nuxt-link>
            <b-button @click="login" class="w-100" variant="success mt-2">Войти</b-button>
            <b-button @click="registerForm = !registerForm" class="w-100" variant="secondary mt-1">
              Зарегистрироваться
            </b-button>
            <b-button v-b-modal.feedback class="w-100" variant="primary mt-3">Обратная связь</b-button>
          </div>
          <div class="text-center d-none">
            <img src="http://tsue.uz/wp-content/themes/tdiu-underscores/images/logo-tsue.png" alt />
          </div>
          <div></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import TeacherForm from '~/components/TeacherRegisterForm'
import StudentForm from '~/components/StudentRegisterForm'
import Feedback from '~/components/Feedback'

export default {
  layout: 'login',
  components: {
    TeacherForm,
    StudentForm,
    Feedback,
  },
  data() {
    return {
      registerError: false,
      departments: [],
      registerForm: false,
      file: null,
      confirmPassword: '',
      confirmPasswordState: null,
      loginState: null,
      emailState: null,
      user: {
        login: '',
        password: '',
        role: false,
      },
      student: {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        facultyId: 0,
        courseId: 0,
        studentGroupId: 0,
        login: '',
        password: '',
        photoPath: '',
        phoneNumber: '',
        email: '',
        passportSeries: '',
      },
      teacher: {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        position: '',
        academicDegree: '',
        login: '',
        password: '',
        photoPath: '',
        departmentId: 0,
        phoneNumber: '',
        email: '',
        address: '',
        facultyId: '',
      },
    }
  },
  methods: {
    login() {
      if (this.user.role == false) {
        this.$toast.error('Выберите тип пользователя!').goAway(5000)
      } else {
        this.$http
          .post(`/api/auth/signin`, this.user)
          .then((response) => {
            this.$store.dispatch('user/login', response.data.data.token)
            this.$router.push('/')
          })
          .catch((e) => {})
      }
    },

    register() {
      let birthDayDate = this.dateToISO(this[this.user.role].birthDayDate)

      this.$http
        .post(`/api/auth/signup/${this.user.role}`, {
          ...this[this.user.role],
          birthDayDate,
        })
        .then((response) => {
          this.$store.dispatch('user/login', response.data.data.token)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
          this.registerForm = true
          this.registerError = true
          return
        })
        .then(() => {
          this.$router.push('/')
        })
    },
    sendFeedback() {
      this.feedback.data.student = JSON.stringify(this.student)
      this.feedback.data.teacher = JSON.stringify(this.teacher)
      this.feedback.data = JSON.stringify(this.feedback.data)

      this.$http.post('/api/feedback', this.feedback).then((response) => {
        this.$toast.success('Отзыв отправлен!').goAway(1500)
      })
    },
    registerIssue() {
      this.$http.post(`/api/registerissue/${this.user.role}`, this[this.user.role]).then((response) => {
        this.$toast.success('Вопрос с вашими данными отправлен, ожидайте ответа администратора.')
      })
    },
  },
}
</script>

<style scoped>
.link {
  color: #fff !important;
}
.register-card {
  max-height: 100vh;
  overflow-y: scroll;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.auth-block {
  margin: 0 auto;
  width: 60%;
}
.logo img {
  width: 50%;
}
.logo {
  text-align: center;
}
.sidebar {
  backdrop-filter: blur(5px);
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(116, 185, 255, 0.7);
  color: #fff;
}
.main {
  width: 100%;
  background-image: url('~static/img/bg.jpg');
  background-size: cover;
  background-position: bottom;
  filter: brightness(1.1);
}
</style>
