<template>
  <div>
    <b-modal id="profile-modal" size="xl" ref="modal" title="Изменить" @hidden="resetFields" hide-footer>
      <StudentRegisterForm :action="action" @edit="editStudent" @register="register" :student="student" />
    </b-modal>

    <b-form @submit.prevent="addSubject">
      <b-row align-v="center">
        <b-col cols="4">
          <b-form-group label="Факультет" label-for="name-input">
            <b-form-select
              id="faculty"
              @input="getCourses"
              v-model="filter.facultyId"
              :options="faculties"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="4">
          <b-form-group label="Курсы" label-for="name-input">
            <b-form-select
              id="course"
              @input="getGroups"
              v-model="filter.courseId"
              :options="coursesByFaculty"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="3">
          <b-form-group label="Группы" label-for="name-input">
            <b-form-select
              id="group"
              @input="getStudents"
              v-model="filter.groupId"
              :options="groupsByCourse"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="1">
          <b-button @click="clearFilter" variant="warning">
            <fa icon="broom" />
          </b-button>
        </b-col>

        <b-col cols="8" offset="2">
          <b-form-input
            placeholder="Поиск... (Имя, Фамилия, Отчество, Логин, Номер телефона)"
            v-model="searchText"
          ></b-form-input>
        </b-col>

        <b-col cols="2">
          <b-button @click="addModal" variant="info">Добавить студента</b-button>
        </b-col>
      </b-row>
    </b-form>

    <hr />

    <b-table
      responsive
      :busy="isBusy"
      :items="filteredUsers"
      :fields="fields"
      bordered
      hover
      striped
      outlined
      sticky-header="700px"
      :per-page="perPage"
      :current-page="currentPage"
      head-variant="light"
      @row-clicked="editModal($event)"
    >
      <template v-slot:table-busy>
        <div class="text-center text-success my-2">
          <b-spinner class="align-middle"></b-spinner>
        </div>
      </template>

      <template v-slot:cell(id)="row">{{ row.index + 1 }}</template>

      <template v-slot:cell(photoPath)="row">
        <b-avatar
          v-if="row.item.photoPath != ''"
          :src="`${env.API_URL}/api/file/download/${row.item.photoPath}`"
        ></b-avatar>
        <b-avatar v-else></b-avatar>
      </template>

      <template v-slot:cell(name)="row"
        >{{ row.item.lastName }} {{ row.item.firstName }} {{ row.item.middleName }}</template
      >

      <template v-slot:cell(actions)="{ item }">
        <b-button @click="deleteStudent(item)" variant="danger" size="sm">
          <fa icon="trash" />
        </b-button>
      </template>
    </b-table>

    <div class="float-right">
      <b-row>
        <b-col>
          <b-form-select v-model="perPage" id="perPageSelect" :options="pageOptions"></b-form-select>
        </b-col>
        <b-col>
          <b-pagination
            v-model="currentPage"
            :total-rows="rows"
            :per-page="perPage"
            aria-controls="my-table"
          ></b-pagination>
        </b-col>
      </b-row>
    </div>
  </div>
</template>
<script>
import StudentRegisterForm from '~/components/StudentRegisterForm'
import swal from 'sweetalert'

export default {
  layout: 'admin',
  head() {
    return {
      title: 'Предметы',
    }
  },
  components: {
    StudentRegisterForm,
  },

  mounted() {
    this.getAllStudents()
  },
  data() {
    return {
      role: localStorage.getItem('role'),
      modal: false,
      modalModel: {},
      coursesByFaculty: [],
      groupsByCourse: [],
      searchText: '',
      action: '',
      filter: {
        facultyId: null,
        courseId: null,
        groupId: null,
      },

      pageOptions: [10, 15, 25],
      perPage: 10,
      currentPage: 1,
      isBusy: false,
      fields: [
        { key: 'id', label: '№' },
        { key: 'photoPath', label: 'Фото' },
        { key: 'name', label: 'ФИО', sortable: true },
        { key: 'passportSeries', label: 'Серия паспорта' },
        { key: 'birthDayDate', label: 'Дата рождения' },
        { key: 'email', label: 'Email' },
        { key: 'phoneNumber', label: 'Телефон' },
        { key: 'login', label: 'Логин' },
        { key: 'actions', label: 'Действия' },
      ],
      students: [],

      student: {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        facultyId: 0,
        courseId: 0,
        studentGroupId: 0,
        login: '',
        password: null,
        photoPath: '',
        phoneNumber: '',
        email: '',
        passportSeries: '',
      },
    }
  },
  methods: {
    getCourses() {
      if (!this.filter.facultyId) return
      this.$http.get(`/api/course/faculty/${this.filter.facultyId}`).then((response) => {
        this.coursesByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getGroups() {
      if (!this.filter.courseId) return

      this.$http.get(`/api/group/course/${this.filter.courseId}`).then((response) => {
        this.groupsByCourse = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getStudents() {
      this.isBusy = true
      if (!this.filter.groupId) return

      this.$http
        .get(`/api/student/group/${this.filter.groupId}`)
        .then((response) => {
          this.students = response.data.data
          this.students.forEach((element) => {
            element.birthDayDate = this.ISOtoDate(element.birthDayDate)
          })
        })
        .catch((e) => {})
        .then(() => {
          this.isBusy = false
        })
    },

    deleteStudent(student) {
      swal({
        title: `Вы действительно хотите удалить студента ${student.lastName} ${student.firstName}?`,
        icon: 'warning',
        dangerMode: true,
        value: true,
        button: 'Да',
      }).then((value) => {
        if (value) {
          this.$http.delete(`/api/student/${student.id}`).then((response) => {
            this.students.splice(this.students.indexOf(student), 1)
          })
        }
      })
    },

    clearFilter() {
      this.filter = {
        facultyId: 0,
        courseId: 0,
        groupId: 0,
      }
      this.getAllStudents()
    },

    getAllStudents() {
      this.isBusy = true

      this.filter = {
        facultyId: null,
        courseId: null,
        groupId: null,
      }

      this.$http
        .get(`/api/student/university/1`)
        .then((response) => {
          this.students = response.data.data
          this.students.forEach((element) => {
            element.birthDayDate = this.ISOtoDate(element.birthDayDate)
          })
        })
        .catch((e) => {})
        .then(() => {
          this.isBusy = false
        })
    },

    resetFields() {
      this.student = {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        facultyId: 0,
        courseId: 0,
        studentGroupId: 0,
        login: '',
        password: '',
        photoPath: '',
        phoneNumber: '',
        email: '',
        passportSeries: '',
      }
    },

    addModal() {
      this.$bvModal.show('profile-modal')
      this.action = 'register'
    },

    editModal(profile) {
      this.$http.get(`/api/student/${profile.id}`).then((response) => {
        this.student = response.data.data
        this.student.birthDayDate = this.ISOtoDate(response.data.data.birthDayDate)
      })
      this.action = 'edit'
      this.$bvModal.show('profile-modal')
    },
    editStudent() {
      let birthDayDate = this.dateToISO(this.student.birthDayDate)
      this.student.login = this.student.login.trim()

      this.$http
        .put(`/api/student/${this.student.id}`, {
          ...this.student,
          birthDayDate,
        })
        .then((response) => {
          this.$toast.success('Успешно изменен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
    removeStudent(profile) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: profile.lastName + ' ' + profile.middleName,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/student/${profile.id}`).then((response) => {
              this.students.splice(this.students.indexOf(profile), 1)
              this.$toast.info('Студент удален!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },

    register() {
      let birthDayDate = this.dateToISO(this.student.birthDayDate)

      this.$http
        .post(`/api/student`, {
          ...this.student,
          birthDayDate,
        })
        .then((response) => {
          this.students.push(response.data.data)
          this.$toast.success('Успешно добавлен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
  },
  computed: {
    filteredUsers() {
      return this.students.filter((student) => {
        let str = `${student.firstName} ${student.lastName} ${student.middleName} ${student.login} ${student.phoneNumber}`
        return str.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
    rows() {
      return this.students.length
    },
  },
  filters: {
    firstLetter(value) {
      return value.charAt(0)
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
.hover {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
  }
}
</style>