<template>
  <div>
    <b-modal id="profile-modal" size="xl" ref="modal" title="Изменить" @hidden="resetFields" hide-footer>
      <TeacherRegisterForm :action="action" @edit="editTeacher" @register="register" :teacher="teacher" />
    </b-modal>

    <b-form @submit.prevent="addSubject">
      <b-row align-v="center">
        <b-col cols="6">
          <b-form-group label="Факультет" label-for="name-input">
            <b-form-select
              id="name-input"
              @input="getDepartments"
              v-model="filter.facultyId"
              :options="faculties"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="5">
          <b-form-group label="Кафедра" label-for="name-input">
            <b-form-select
              id="name-input"
              @input="getTeachers"
              v-model="filter.departmentId"
              :options="departmentsByFaculty"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="1">
          <b-button @click="getAllTeachers" variant="warning">
            <fa icon="broom" />
          </b-button>
        </b-col>

        <b-col cols="8" offset="2">
          <b-form-input
            placeholder="Поиск... (Имя, Фамилия, Отчество, Логин, Номер телефона)"
            v-model="searchText"
          ></b-form-input>
        </b-col>

        <b-col cols="2">
          <b-button v-if="role == 'admin'" @click="addModal" variant="info">Добавить преподавателя</b-button>
        </b-col>
      </b-row>
    </b-form>

    <hr />

    <b-row>
      <b-col
        md="4"
        lg="3"
        sm="12"
        class="mt-3"
        v-for="teacher in filteredUsers"
        :key="teacher.id"
        @click="editModal(teacher)"
      >
        <b-card class="hover">
          <template v-slot:header>
            {{ teacher.lastName }} {{ teacher.firstName }} {{ teacher.middleName }}
            <fa
              v-if="role == 'admin'"
              class="icon float-right"
              @click.stop="removeTeacher(teacher)"
              :style="{ color: '#dc3545' }"
              icon="trash"
            />
          </template>

          <div class="text-center">
            <b-avatar
              v-if="teacher.photoPath != ''"
              :src="`${env.API_URL}/api/file/download/${teacher.photoPath}`"
              size="6rem"
            ></b-avatar>
            <b-avatar v-else size="6rem"></b-avatar>
          </div>
          <b-card-text>
            Login:
            <b>{{ teacher.login }}</b>
            <br />Email:
            <b>{{ teacher.email }}</b>
            <br />Tel:
            <b>{{ teacher.phoneNumber }}</b>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import TeacherRegisterForm from '~/components/TeacherRegisterForm'
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Предметы',
    }
  },
  components: {
    TeacherRegisterForm,
  },

  mounted() {
    this.getAllTeachers()
  },
  data() {
    return {
      role: localStorage.getItem('role'),
      modal: false,
      modalModel: {},
      departmentsByFaculty: [],
      searchText: '',
      action: '',
      filter: {
        facultyId: null,
        departmentId: null,
      },

      teachers: [],
      teacher: {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        position: '',
        academicDegree: '',
        login: '',
        password: null,
        photoPath: '',
        departmentId: 0,
        phoneNumber: '',
        email: '',
        facultyId: '',
      },
    }
  },
  methods: {
    getDepartments() {
      this.$http.get(`/api/department/faculty/${this.filter.facultyId}`).then((response) => {
        this.departmentsByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getTeachers() {
      this.$http.get(`/api/teacher/department/${this.filter.departmentId}`).then((response) => {
        this.teachers = response.data.data
        this.teachers.forEach((element) => {
          element.birthDayDate = this.ISOtoDate(element.birthDayDate)
        })
      })
    },
    getAllTeachers() {
      this.filter = {
        facultyId: null,
        departmentId: null,
      }
      this.$http.get(`/api/teacher/university/1`).then((response) => {
        this.teachers = response.data.data
        this.teachers.forEach((element) => {
          element.birthDayDate = this.ISOtoDate(element.birthDayDate)
        })
      })
    },

    resetFields() {
      this.teacher = {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        position: '',
        academicDegree: '',
        login: '',
        password: '',
        photoPath: '',
        departmentId: 0,
        phoneNumber: '',
        email: '',
        address: '',
        facultyId: '',
      }
    },
    addModal() {
      this.$bvModal.show('profile-modal')
      this.action = 'register'
    },
    editModal(profile) {
      this.teacher = { ...profile }
      this.action = 'edit'
      this.$bvModal.show('profile-modal')
    },
    removeTeacher(profile) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: profile.lastName + ' ' + profile.middleName,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/teacher/${profile.id}`).then((response) => {
              this.teachers.splice(this.teachers.indexOf(profile), 1)
              this.$toast.info('Студент удален!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
    editTeacher() {
      if (this.role != 'admin') return

      let birthDayDate = this.dateToISO(this.teacher.birthDayDate)
      this.teacher.login = this.teacher.login.trim()

      this.$http
        .put(`/api/teacher/${this.teacher.id}`, {
          ...this.teacher,
          birthDayDate,
        })
        .then((response) => {
          this.$toast.success('Успешно изменен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
    register() {
      let birthDayDate = this.dateToISO(this.teacher.birthDayDate)

      this.$http
        .post(`/api/teacher`, {
          ...this.teacher,
          birthDayDate,
        })
        .then((response) => {
          this.$toast.success('Успешно добавлен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
  },
  computed: {
    filteredUsers() {
      return this.teachers.filter((teacher) => {
        let str = `${teacher.firstName} ${teacher.lastName} ${teacher.middleName} ${teacher.login} ${teacher.phoneNumber}`
        return str.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  filters: {
    firstLetter(value) {
      return value.charAt(0)
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
.hover {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
  }
}
</style>