<template>
  <div>
    <b-modal id="edit" ref="modal" title="Изменить" @hidden="modalModel = {}">
      <form ref="form">
        <b-form-group label="Name" label-for="name-input" invalid-feedback="Name is required">
          <b-form-input id="name-input" v-model="modalModel.name" required></b-form-input>
        </b-form-group>
        <b-form-group label="Кафедра" label-for="name-input">
          <b-form-select
            id="name-input"
            v-model="modalModel.departmentId"
            :options="departmentsByFaculty"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <template v-slot:modal-footer>
        <b-button @click="editSubject()" variant="success">Сохранить</b-button>
      </template>
    </b-modal>

    <b-form @submit.prevent="addSubject">
      <b-row align-v="end">
        <b-col cols="6">
          <b-form-group label="Факультет" label-for="name-input">
            <b-form-select
              id="name-input"
              @input="getDepartments"
              v-model="filter.facultyId"
              :options="faculties"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="6">
          <b-form-group label="Кафедра" label-for="name-input">
            <b-form-select
              id="name-input"
              @input="getSubjects"
              v-model="filter.departmentId"
              :options="departmentsByFaculty"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col v-if="role == 'admin'" cols="6">
          <b-form-input id="faculty" v-model="newSubject.name" placeholder="Введите название предмета"></b-form-input>
        </b-col>
        <b-col v-if="role == 'admin'">
          <b-button type="submit" variant="success">Добавить</b-button>
        </b-col>
      </b-row>
    </b-form>

    <hr />

    <b-row>
      <b-col v-for="subject in subjects" :key="subject.id" cols="6">
        <b-card class="mt-3">
          <nuxt-link :to="`/admin/subjects/${subject.id}`">{{ subject.name }}</nuxt-link>
          <div class="float-right">
            <fa
              v-if="role == 'admin'"
              @click="editModal(subject)"
              class="icon"
              :style="{ color: '#007bff' }"
              icon="pen"
            />
            <fa
              v-if="role == 'admin'"
              class="icon"
              @click="deleteSubject(subject)"
              :style="{ color: '#dc3545' }"
              icon="trash"
            />
          </div>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Предметы',
    }
  },

  mounted() {},
  data() {
    return {
      role: localStorage.getItem('role'),

      filter: {
        facultyId: null,
        departmentId: null,
      },
      newSubject: {
        name: '',
      },
      modalModel: {},
      departmentsByFaculty: [],
      subjects: this.$store.state.collections.subjects,
    }
  },
  methods: {
    getDepartments() {
      this.$http.get(`/api/department/faculty/${this.filter.facultyId}`).then((response) => {
        this.departmentsByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },

    getSubjects() {
      this.$http.get(`/api/subject/department/${this.filter.departmentId}`).then((response) => {
        this.subjects = response.data.data
        this.$store.commit('collections/setSubjects', this.subjects)
      })
    },

    addSubject() {
      this.newSubject.departmentId = this.filter.departmentId
      this.$http.post('/api/subject', this.newSubject).then((response) => {
        this.subjects.push(response.data.data)
      })
    },

    editModal(item) {
      this.modalModel = { ...item }
      this.$bvModal.show('edit')
    },

    editSubject() {
      this.$http.put(`/api/subject/${this.modalModel.id}`, this.modalModel).then((response) => {
        if (response.data.status == 'success') {
          this.subjects = this.subjects.map((el) => (el.id === this.modalModel.id ? response.data.data : el))
          this.$toast.success('Предмет изменен!').goAway(1500)
          this.$bvModal.hide('edit')
        }
      })
    },

    deleteSubject(item) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: item.name,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/subject/${item.id}`).then((response) => {
              this.subjects.splice(this.subjects.indexOf(item), 1)
              this.$toast.info('Предмет удален!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>