﻿<template>
  <div>
    <b-row align-h="between" class="actions mb-1">
      <b-col sm="12" md="4" lg="4">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
      <b-col cols="6 text-right"></b-col>
    </b-row>

    <b-card header-bg-variant="primary" header-text-variant="light" class="mt-3">
      <template v-slot:header>
        <h5>Экзамен для данных групп</h5>
      </template>

      <transition-group name="list-complete" class="row" tag="div" v-if="groups.length != 0">
        <b-col cols="2" v-for="group in groups" :key="group.id" class="list-complete-item">
          <b-card class="group-card mt-3">
            <div @click.prevent.stop="removeGroup(group)" class="hover float-right">
              <fa icon="trash" color="#c82333" />
            </div>
            <h6>{{ group.name }}</h6>
          </b-card>
        </b-col>
      </transition-group>
      <h5 v-else>Список групп пуст.</h5>
    </b-card>

    <b-card header-bg-variant="primary" header-text-variant="light" class="mt-3">
      <template v-slot:header>
        <h5 class="float-left">Группы изучающие данную дисциплину</h5>
        <b-button variant="light" class="float-right" @click="collapse.groups = !collapse.groups">
          <fa :icon="`${collapse.groups ? 'window-minimize' : 'window-maximize'}`" />
        </b-button>
      </template>

      <b-collapse v-model="collapse.groups" class="mt-2">
        <b-row>
          <b-col cols="2" v-for="group in allGroups" :key="group.id">
            <b-card class="group-card mt-3">
              <div @click.prevent.stop="addGroup(group)" class="hover float-right">
                <fa icon="plus" color="#007bff" />
              </div>
              <h6>{{ group.name }}</h6>
            </b-card>
          </b-col>
        </b-row>
      </b-collapse>
    </b-card>

    <hr />
    <h5>Задания</h5>

    <!-- Самостоятельные работы -->
    <!-- <b-overlay :show="show.textExercise">
      <b-card header-bg-variant="warning" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Самостоятельные работы</h5>
          <b-button
            variant="light"
            class="float-right"
            @click="collapse.textExercises = !collapse.textExercises"
          >
            <fa :icon="`${collapse.textExercises ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.textExercises" class="mt-2">
          <transition-group name="list-complete" class="row">
            <b-col
              cols="12"
              class="mt-3 list-complete-item"
              v-for="(text, $i) in textExercises"
              :key="$i + 'kek'"
            >
              <b-form-group>
                <label :for="`text-${$i}`">
                  Задание
                  <b>№{{$i+1}}</b>
                </label>
                <div class="hover float-right">
                  <fa
                    color="rgb(0, 123, 255)"
                    class="mr-2"
                    icon="pen"
                    @click="text.editable = true"
                  />
                  <fa color="rgb(220, 53, 69)" icon="trash" @click="deleteTextExercise(text)" />
                </div>
                <b-form-textarea
                  :disabled="text.editable == false"
                  v-model="text.question"
                  :id="`text-${$i}`"
                  placeholder="Напишите задание"
                  rows="4"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
          </transition-group>

          <b-row align-h="end">
            <b-col cols="auto">
              <b-button
                @click="textExercises.push({examinationId: +$route.params.exam, question: ''})"
                variant="warning"
              >
                <fa icon="plus" />
                <span>Добавить еще поле</span>
              </b-button>
            </b-col>

            <b-col cols="auto">
              <b-button @click="addTextExercise" variant="warning">
                <fa icon="save" />
                <span>Сохранить Самостоятельные работы</span>
              </b-button>
            </b-col>
          </b-row>
        </b-collapse>
      </b-card>
    </b-overlay>-->

    <!-- Открытые тесты -->
    <!-- <b-overlay :show="show.openTest">
      <b-card header-bg-variant="success" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Открытые тесты</h5>
          <b-button
            variant="light"
            class="float-right"
            @click="collapse.openQuestions = !collapse.openQuestions"
          >
            <fa :icon="`${collapse.openQuestions ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.openQuestions">
          <transition-group name="list-complete" class="row">
            <b-col
              cols="12"
              v-for="(openTest, $i) in openQuestions"
              :key="$i + 'open'"
              class="mt-3 list-complete-item"
            >
              <label :for="`text-question-${$i}`">
                Тест с открытым вопросом
                <b>№{{$i+1}}</b>
              </label>
              <div class="hover float-right">
                <fa
                  color="rgb(0, 123, 255)"
                  class="mr-2"
                  icon="pen"
                  @click="openTest.editable = true"
                />
                <fa color="rgb(220, 53, 69)" icon="trash" @click="deleteOpenQuestion(openTest)" />
              </div>
              <b-form-textarea
                :disabled="openTest.editable == false"
                v-model="openTest.question"
                :id="`text-question-${$i}`"
                placeholder="Вопрос теста"
                rows="4"
              ></b-form-textarea>
            </b-col>
          </transition-group>

          <b-row align-h="end" class="mt-2">
            <b-col cols="auto">
              <b-button
                @click="openQuestions.push({examinationId: +$route.params.exam, question: ''})"
                variant="success"
              >
                <fa icon="plus" />
                <span>Добавить еще поле</span>
              </b-button>
            </b-col>

            <b-col cols="auto">
              <b-button @click="addOpenTestQuestion" variant="success">
                <fa icon="save" />
                <span>Сохранить Открытые тесты</span>
              </b-button>
            </b-col>
          </b-row>
        </b-collapse>
      </b-card>
    </b-overlay>-->

    <!-- Тесты -->
    <b-overlay :show="show.testExercise">
      <b-card header-bg-variant="danger" header-text-variant="light" class="mt-3">
        <template v-slot:header>
          <h5 class="float-left">Тесты</h5>
          <b-button variant="light" class="float-right" @click="collapse.test = !collapse.test">
            <fa :icon="`${collapse.test ? 'window-minimize' : 'window-maximize'}`" />
          </b-button>
        </template>

        <b-collapse v-model="collapse.test">
          <b-row align-h="end" class="mb-2">
            <b-col cols="auto">
              <b-form-file v-model="testFile"></b-form-file>
            </b-col>

            <b-col cols="auto">
              <b-button variant="dark" @click="uploadTest()">Загрузить</b-button>
            </b-col>

            <b-col cols="auto">
              <b-button variant="danger" @click="pushTestForm()">Добавить тест</b-button>
            </b-col>
          </b-row>

          <transition-group name="list-complete" class="row">
            <b-col class="mt-2 list-complete-item" v-for="(test, i) in tests" :key="i + 'test'" cols="6">
              <h5 class="float-left">
                Тест
                <b>№{{ +i + 1 }}</b>
              </h5>
              <fa class="float-right" color="rgb(220, 53, 69)" icon="trash" @click="deleteTest(test)" />
              <b-form-textarea
                :id="`test-question-${i}`"
                v-model="test.question"
                placeholder="Вопрос теста"
                rows="2"
              ></b-form-textarea>

              <b-input-group v-for="(answer, j) in test.answers" :key="j" class="mb-2 mt-2">
                <b-input-group-prepend is-text>
                  <b-form-checkbox v-model="answer.isCorrect" class="mr-n2"></b-form-checkbox>
                </b-input-group-prepend>
                <b-form-input v-model="answer.answer"></b-form-input>
              </b-input-group>
            </b-col>
          </transition-group>

          <b-button @click="addLessonTest" variant="danger mt-2 float-right">
            <fa icon="save" />
            <span>Сохранить тесты</span>
          </b-button>
        </b-collapse>
      </b-card>
    </b-overlay>

    <!-- <b-button @click="saveAll" variant="info mt-3 float-right">
      <fa icon="save" />
      <span>Сохранить все</span>
    </b-button>-->
  </div>
</template>

<script>
export default {
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  data() {
    return {
      method: 'post',
      show: {
        openTest: false,
        textExercise: false,
        testExercise: false,
      },
      allGroups: [],
      groups: [],
      lessons: [],
      subjectName: '',
      role: localStorage.getItem('role'),
      searchText: '',
      testFile: null,

      collapse: {
        groups: false,
        textExercises: false,
        test: false,
        openQuestions: false,
      },

      textExercises: [{ examinationId: this.$route.params.exam, question: '' }],
      openQuestions: [{ examinationId: this.$route.params.exam, question: '' }],
      tests: [],
    }
  },
  async mounted() {
    this.show.openTest = true
    this.show.textExercise = true
    this.show.testExercise = true

    this.$http.get(`/api/subject`).then((response) => {
      this.subjectName = response.data.data.find((item) => {
        return item.id == this.$route.params.subject
      }).name
      this.$store.commit('collections/setTitle', this.subjectName)
    })

    this.$http.get(`/api/group/all/subject/${this.$route.params.subject}`).then((response) => {
      this.allGroups = response.data.data
    })

    this.$http.get(`/api/examination/${this.$route.params.exam}/groups`).then((response) => {
      this.groups = response.data.data
    })

    // GET Open Text exercises
    await this.$http
      .get(`/api/examinationtextexercise/examination/${this.$route.params.exam}`)
      .then((response) => {
        this.textExercises = response.data.data.map((item) => {
          return { ...item, editable: false }
        })
      })
      .catch((e) => {})
      .then(() => {
        this.show.textExercise = false
      })

    // GET Open Questions
    await this.$http
      .get(`/api/examinationopenquestion/examination/${this.$route.params.exam}`)
      .then((response) => {
        this.openQuestions = response.data.data.map((item) => {
          return { ...item, editable: false }
        })
      })
      .catch((e) => {})
      .then(() => {
        this.show.openTest = false
      })

    // GET Tests
    await this.$http
      .get(`/api/examinationtest/examination/${this.$route.params.exam}`)
      .then((response) => {
        this.tests = response.data.data
      })
      .catch((e) => {})
      .then(() => {
        this.show.testExercise = false
      })
  },
  computed: {
    filteredLessons() {
      return this.lessons.filter((sub) => {
        return sub.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  methods: {
    addGroup(group) {
      this.$http.post(`/api/examination/${this.$route.params.exam}/group/${group.id}`).then((response) => {
        if (this.groups.indexOf(group) == -1) this.groups.push(group)
        else {
          this.$toast.error('Группа уже добавлена!').goAway(1500)
        }
      })
    },
    removeGroup(group) {
      this.$http.delete(`/api/examination/${this.$route.params.exam}/group/${group.id}`).then((response) => {
        this.groups.splice(this.groups.indexOf(group), 1)
        this.$toast.error('Группа удалена из списка.').goAway(1500)
      })
    },

    // Text exercise methods
    addTextExercise() {
      this.show.textExercise = true

      let toAdd = this.textExercises.filter((item) => item.id === undefined)
      let toEdit = this.textExercises.filter((item) => item.editable === true)

      if (toAdd.length) {
        this.$http
          .post(`/api/examinationtextexercise/examination/${this.$route.params.exam}`, toAdd)
          .then((response) => {
            this.$toast.success('Задание добавлено!').goAway(2000)
            this.collapse.textExercises = false
          })
          .catch((e) => {})
          .then(() => {
            this.show.textExercise = false
          })
      }
      if (toEdit.length) {
        this.$http
          .put(`/api/examinationtextexercise/examination/${this.$route.params.exam}`, toEdit)
          .then((response) => {
            this.$toast.success('Задание изменено!').goAway(2000)
            this.collapse.textExercises = false
          })
          .catch((e) => {})
          .then(() => {
            this.show.textExercise = false
          })
      }
    },
    deleteTextExercise(exercise) {
      if (exercise.id) {
        this.$http.delete(`/api/examinationtextexercise/${exercise.id}`).then((response) => {
          this.textExercises.splice(this.textExercises.indexOf(exercise), 1)
          this.$toast.success('Задание удалено!').goAway(2000)
        })
      } else {
        this.textExercises.splice(this.textExercises.indexOf(exercise), 1)
        this.$toast.success('Задание удалено!').goAway(2000)
      }
    },

    // Open Question methods
    addOpenTestQuestion() {
      this.show.openTest = true

      let toAdd = this.openQuestions.filter((item) => item.id === undefined)
      let toEdit = this.openQuestions.filter((item) => item.id !== undefined)

      if (toAdd) {
        this.$http
          .post(`/api/examinationopenquestion/examination/${this.$route.params.exam}`, toAdd)
          .then((response) => {
            this.$toast.success('Задание добавлено!').goAway(2000)
            this.collapse.openQuestions = false
          })
          .catch((e) => {})
          .then(() => {
            this.show.openTest = false
          })
      }
      if (toEdit) {
        this.$http
          .put(`/api/examinationopenquestion/examination/${this.$route.params.exam}`, toEdit)
          .then((response) => {
            this.$toast.success('Задание изменено!').goAway(2000)
            this.collapse.openQuestions = false
          })
          .catch((e) => {})
          .then(() => {
            this.show.openTest = false
          })
      }
    },
    deleteOpenQuestion(openQuestion) {
      if (openQuestion.id) {
        this.$http.delete(`/api/examinationopenquestion/${openQuestion.id}`).then((response) => {
          this.openQuestions.splice(this.openQuestions.indexOf(openQuestion), 1)
          this.$toast.success('Задание удалено!').goAway(2000)
        })
      } else {
        this.openQuestions.splice(this.openQuestions.indexOf(openQuestion), 1)
        this.$toast.success('Задание удалено!').goAway(2000)
      }
    },

    // Test methods
    uploadTest() {
      if (!this.testFile) return

      this.show.testExercise = true
      let file = new FormData()
      file.append('formFile', this.testFile)

      this.$http
        .post(`/api/examinationtest/examination/${this.$route.params.exam}/parse`, file, {
          header: { 'Content-Type': 'multipart/form-data', accept: 'text/plain' },
        })
        .then((response) => {
          response.data.data.forEach((item) => {
            this.tests.push(item)
          })
        })
        .catch(() => {})
        .then(() => {
          this.show.testExercise = false
        })
    },
    addLessonTest() {
      this.show.testExercise = true

      let toAdd = this.tests.filter((item) => item.id === undefined)
      let toEdit = this.tests.filter((item) => item.id !== undefined)

      if (toAdd) {
        this.$http
          .post(`/api/examinationtest/examination/${this.$route.params.exam}`, toAdd)
          .then((response) => {
            this.$toast.success('Тесты добавлены!').goAway(2000)
          })
          .catch((e) => {})
          .then(() => {
            this.show.testExercise = false
            this.collapse.test = false
          })
      }
      if (toEdit.length != 0) {
        this.$http
          .put(`/api/examinationtest/examination/${this.$route.params.exam}`, toEdit)
          .then((response) => {})
          .catch((e) => {})
          .then(() => {
            this.show.testExercise = false
            this.collapse.test = false
          })
      }
    },
    deleteTest(test) {
      if (test.id) {
        this.$http.delete(`/api/examinationtest/${test.id}`).then((response) => {
          this.tests.splice(this.tests.indexOf(test), 1)
          this.$toast.success('Задание удалено!').goAway(2000)
        })
      } else {
        this.tests.splice(this.tests.indexOf(test), 1)
        this.$toast.success('Задание удалено!').goAway(2000)
      }
    },
    pushTestForm() {
      this.tests.push({
        examinationId: +this.$route.params.exam,
        question: '',
        answers: [
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
          { isCorrect: false, answer: '' },
        ],
      })
    },

    // Save all data
    saveAll() {
      this.addLessonTest()
      this.addOpenTestQuestion()
      this.addTextExercise()
    },
  },
}
</script>

<style scoped>
.collapsed > .when-opened,
:not(.collapsed) > .when-closed {
  display: none;
  transition: 0.3s;
}

/* .card {
	min-height: 9rem;
} */
</style>
