<template>
  <div>
    <b-card>
      <template v-slot:header>
        <h4>Предметы группы {{ currentGroup.name }}</h4>
      </template>
      <b-row>
        <b-col v-for="subject in bindedSubjects" :key="subject.id" cols="3">
          <b-card bg-variant="info" text-variant="white" class="mt-3">
            <template v-slot:header>
              {{ getDepartment(subject.departmentId).name }}
              <fa
                v-if="role == 'admin'"
                class="icon float-right"
                @click="removeFromGroup(subject)"
                :style="{ color: '#dc3545' }"
                icon="trash"
              />
            </template>
            <div>
              <div>
                <h5>{{ subject.name }}</h5>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card>
    <b-card class="mt-3">
      <template v-slot:header>
        <b-row>
          <b-col>
            <h4>Все предметы</h4>
          </b-col>
          <b-col>
            <b-form-input placeholder="Поиск..." v-model="searchText"></b-form-input>
          </b-col>
        </b-row>
      </template>

      <b-card>
        <h5>Фильтр</h5>
        <hr />
        <b-form @submit.prevent="addSubject">
          <b-row align-v="center">
            <b-col cols="3">
              <b-form-group label="Факультет" label-for="name-input">
                <b-form-select
                  id="name-input"
                  @input="getDepartments"
                  v-model="filter.facultyId"
                  :options="faculties"
                  required
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col cols="3">
              <b-form-group label="Кафедра" label-for="name-input">
                <b-form-select
                  id="name-input"
                  @input="getSubjectsByDepartment"
                  v-model="filter.departmentId"
                  :options="departmentsByFaculty"
                  required
                ></b-form-select>
              </b-form-group>
            </b-col>

            <b-col cols="1">
              <b-button @click="getAllSubjects" variant="warning">
                <fa icon="broom" />
              </b-button>
            </b-col>
          </b-row>
        </b-form>
      </b-card>

      <b-row>
        <b-col v-for="subject in filteredSubjects" :key="subject.id" cols="3">
          <b-card class="mt-3">
            <template v-slot:header>
              {{ getDepartment(subject.departmentId).name }}
              <fa
                v-if="role == 'admin'"
                class="icon float-right"
                @click="addToGroup(subject)"
                :style="{ color: '#007bff' }"
                icon="plus"
              />
            </template>
            <div>
              <div>
                <h5>{{ subject.name }}</h5>
              </div>
            </div>
          </b-card>
        </b-col>
      </b-row>
    </b-card>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },
  computed: {
    filteredSubjects() {
      return this.allSubjects.filter((subject) => {
        return subject.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  mounted() {
    this.$http.get(`/api/group/${this.$route.params.group}`).then((response) => {
      this.currentGroup = response.data.data
    })
    this.$http.get(`/api/subject/group/${this.$route.params.group}`).then((response) => {
      this.bindedSubjects = response.data.data
    })
    this.getAllSubjects()
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      searchText: '',
      filter: {
        facultyId: null,
        departmentId: null,
      },
      departmentsByFaculty: [],

      currentGroup: {},
      bindedSubjects: [],
      allSubjects: [],
    }
  },
  methods: {
    getSubjects() {
      this.$http.get(`/api/group/course/${this.filter.courseId}`).then((response) => {
        this.groupByCourse = response.data.data
      })
    },
    getCourses() {
      this.$http.get(`/api/course/faculty/${this.filter.facultyId}`).then((response) => {
        this.coursesByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
          }
        })
      })
    },
    getAllSubjects() {
      ;(this.filter = {
        facultyId: null,
        departmentId: null,
      }),
        this.$http.get(`/api/subject`).then((response) => {
          this.allSubjects = response.data.data
        })
    },

    getDepartments() {
      if (this.filter.facultyId == null) return
      this.$http.get(`/api/department/faculty/${this.filter.facultyId}`).then((response) => {
        this.departmentsByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getSubjectsByDepartment() {
      if (this.filter.departmentId == null) return
      this.$http.get(`/api/subject/department/${this.filter.departmentId}`).then((response) => {
        this.allSubjects = response.data.data
      })
    },

    removeFromGroup(item) {
      this.$http.delete(`/api/group/${+this.$route.params.group}/subject/${item.id}`).then((response) => {
        this.bindedSubjects.splice(this.bindedSubjects.indexOf(item), 1)
        this.$toast.success('Предмет убран!').goAway(2000)
      })
    },

    addToGroup(item) {
      item.studentGroupId = +this.$route.params.group
      item.subjectId = item.id

      this.$http.post('/api/group/subject', item).then((response) => {
        if (response.data.status == 'success') {
          this.allSubjects = this.allSubjects.splice(this.allSubjects.indexOf(item), 1)
          this.bindedSubjects.push(item)
          this.$toast.success('Предмет добавлен!').goAway(2000)
        }
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
</style>