<template>
  <div>
    <b-modal id="edit" ref="modal" size="lg" title="Информация">
      <b-card v-if="feedbackDeatil.data.teacher">
        <h4 slot="header">Преподаватель</h4>
        <b-avatar
          v-if="feedbackDeatil.data.teacher.photoPath"
          :src="`${env.API_URL}/api/file/download/${feedbackDeatil.data.teacher.photoPath}`"
          size="6rem"
        ></b-avatar>
        <p>
          <b>Имя:</b>
          {{ feedbackDeatil.data.teacher.firstName ? feedbackDeatil.data.teacher.firstName : '' }}
        </p>
        <p>
          <b>Фамилия:</b>
          {{ feedbackDeatil.data.teacher.lastName ? feedbackDeatil.data.teacher.lastName : '' }}
        </p>
        <p>
          <b>Отчесвто:</b>
          {{ feedbackDeatil.data.teacher.middleName ? feedbackDeatil.data.teacher.middleName : '' }}
        </p>
        <p>
          <b>Дата рождения:</b>
          {{ feedbackDeatil.data.teacher.birthDayDate ? feedbackDeatil.data.teacher.birthDayDate : '' }}
        </p>
        <p>
          <b>email:</b>
          {{ feedbackDeatil.data.teacher.email ? feedbackDeatil.data.teacher.email : '' }}
        </p>
        <p>
          <b>Номер телефона:</b>
          {{ feedbackDeatil.data.teacher.phoneNumber ? feedbackDeatil.data.teacher.phoneNumber : '' }}
        </p>
        <p>
          <b>Логин:</b>
          {{ feedbackDeatil.data.teacher.login ? feedbackDeatil.data.teacher.login : '' }}
        </p>
        <p>
          <b>Должность:</b>
          {{ feedbackDeatil.data.teacher.position ? feedbackDeatil.data.teacher.position : '' }}
        </p>
        <p>
          <b>Научная степень:</b>
          {{ feedbackDeatil.data.teacher.academicDegree ? feedbackDeatil.data.teacher.academicDegree : '' }}
        </p>
        <p>
          <b>Факультет:</b>
          {{
            getFaculty(feedbackDeatil.data.teacher.facultyId).name
              ? getFaculty(feedbackDeatil.data.teacher.facultyId).name
              : ''
          }}
        </p>
        <p>
          <b>Кафедра:</b>
          {{
            getDepartment(feedbackDeatil.data.teacher.departmentId).name
              ? getDepartment(feedbackDeatil.data.teacher.departmentId).name
              : ''
          }}
        </p>
      </b-card>

      <b-card class="mt-2" v-if="feedbackDeatil.data.student">
        <h4 slot="header">Студент</h4>
        <b-avatar
          v-if="feedbackDeatil.data.student.photoPath"
          :src="`${env.API_URL}/api/file/download/${feedbackDeatil.data.student.photoPath}`"
          size="6rem"
        ></b-avatar>
        <p>
          <b>Имя:</b>
          {{ feedbackDeatil.data.student.firstName ? feedbackDeatil.data.student.firstName : '' }}
        </p>
        <p>
          <b>Фамилия:</b>
          {{ feedbackDeatil.data.student.lastName ? feedbackDeatil.data.student.lastName : '' }}
        </p>
        <p>
          <b>Отчесвто:</b>
          {{ feedbackDeatil.data.student.middleName ? feedbackDeatil.data.student.middleName : '' }}
        </p>
        <p>
          <b>Дата рождения:</b>
          {{ feedbackDeatil.data.student.birthDayDate ? feedbackDeatil.data.student.birthDayDate : '' }}
        </p>
        <p>
          <b>email:</b>
          {{ feedbackDeatil.data.student.email ? feedbackDeatil.data.student.email : '' }}
        </p>
        <p>
          <b>Номер телефона:</b>
          {{ feedbackDeatil.data.student.phoneNumber ? feedbackDeatil.data.student.phoneNumber : '' }}
        </p>
        <p>
          <b>Логин:</b>
          {{ feedbackDeatil.data.student.login ? feedbackDeatil.data.student.login : '' }}
        </p>

        <p>
          <b>Группа:</b>
          {{ group.name ? group.name : '' }}
        </p>
      </b-card>

      <template v-slot:modal-footer></template>
    </b-modal>

    <b-row>
      <b-col
        md="4"
        lg="3"
        sm="12"
        class="mt-3"
        v-for="feedback in feedbacks"
        :key="feedback.id"
        @click="showInfo(feedback)"
      >
        <b-card class="hover">
          <template v-slot:header>
            {{ feedback.ip }}
            <fa
              v-if="role == 'admin'"
              class="icon float-right"
              @click.stop="removeFeedback(feedback)"
              :style="{ color: '#dc3545' }"
              icon="trash"
            />
          </template>
          <b-card-body>{{ feedback.content }}</b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Факультеты',
    }
  },

  mounted() {
    this.$http.get(`/api/feedback/university/1`).then((response) => {
      this.feedbacks = response.data.data
      this.feedbacks.forEach((feedback) => {
        feedback.data = JSON.parse(feedback.data)
        feedback.data.teacher = feedback.data.teacher ? JSON.parse(feedback.data.teacher) : ''
        feedback.data.student = feedback.data.student ? JSON.parse(feedback.data.student) : ''
      })
    })
  },
  watch: {
    feedbackDeatil() {
      if (this.feedbackDeatil.data.student.groupId)
        this.$http.get(`/api/group/${this.feedbackDeatil.data.student.groupId}`).then((response) => {
          this.group = response.data.data
        })
    },
  },
  data() {
    return {
      role: localStorage.getItem('role'),

      group: {},
      feedbacks: [],
      feedbackDeatil: {
        content: '',
        data: {
          teacher: {
            firstName: '',
            lastName: '',
            middleName: '',
            birthDayDate: '',
            email: '',
            phoneNumber: '',
            login: '',
            photoPath: '',
            position: '',
            academicDegree: '',
            facultyId: '',
            departmentId: '',
          },
          student: {
            firstName: '',
            lastName: '',
            middleName: '',
            birthDayDate: '',
            email: '',
            phoneNumber: '',
            login: '',
            photoPath: '',
            groupId: null,
            courseId: null,
            facultyId: null,
            passportSeries: '',
          },
        },
        ip: '',
        isRegistered: null,
        universityId: 0,
        id: 0,
      },
    }
  },
  methods: {
    showInfo(feedback) {
      this.$bvModal.show('edit')
      this.feedbackDeatil = { ...feedback }
    },
    removeFeedback(feedback) {
      this.$http.delete(`/api/feedback/${feedback.id}`).then((response) => {
        this.feedbacks.splice(this.feedbacks.indexOf(feedback), 1)
        this.$toast.error('Отзыв удален!').goAway(2000)
      })
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
.hover {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
  }
}
</style>