<template>
  <div>
    <b-modal id="profile-modal" ref="modal" title="Изменить" @hidden="resetFields" hide-footer>
      <b-row>
        <b-col>
          <b-form-input placeholder="Напишите серию паспорта" v-model="student.passportSeries"></b-form-input>
        </b-col>
        <b-col>
          <b-button @click="edit" variant="info">Изменить</b-button>
        </b-col>
      </b-row>
    </b-modal>

    <b-form @submit.prevent="addSubject">
      <b-row align-v="center">
        <b-col cols="4">
          <b-form-group label="Факультет" label-for="name-input">
            <b-form-select
              id="faculty"
              @input="getCourses"
              v-model="filter.facultyId"
              :options="faculties"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="4">
          <b-form-group label="Курсы" label-for="name-input">
            <b-form-select
              id="course"
              @input="getGroups"
              v-model="filter.courseId"
              :options="coursesByFaculty"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>

        <b-col cols="3">
          <b-form-group label="Группы" label-for="name-input">
            <b-form-select
              id="group"
              @input="getStudents"
              v-model="filter.groupId"
              :options="groupsByCourse"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col cols="1">
          <b-button @click="getStudents" variant="warning">
            <fa icon="broom" />
          </b-button>
        </b-col>

        <b-col v-if="filter.groupId" cols="4">
          <b-form-input placeholder="Поиск..." v-model="searchText"></b-form-input>
        </b-col>

        <b-col v-if="filter.groupId" cols="4">
          <b-form-tags
            placeholder="Напишите серию паспорта"
            separator=" "
            remove-on-delete
            v-model="passportSeries"
          ></b-form-tags>
        </b-col>

        <b-col v-if="filter.groupId" cols="2">
          <b-button @click="addPassportSeries" variant="info">Добавить</b-button>
        </b-col>
      </b-row>
    </b-form>

    <hr />
    <b-row>
      <b-col
        md="4"
        lg="3"
        sm="12"
        class="mt-3"
        v-for="student in filteredUsers"
        :key="student.id"
        @click="editModal(student)"
      >
        <b-card class="hover">
          {{ student.passportSeries }}
          <fa
            v-if="role == 'admin'"
            class="icon float-right"
            @click.stop="removeStudent(student)"
            :style="{ color: '#dc3545' }"
            icon="trash"
          />
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
import StudentRegisterForm from '~/components/StudentRegisterForm'
export default {
  layout: 'admin',
  head() {
    return {
      title: 'Предметы',
    }
  },
  components: {
    StudentRegisterForm,
  },

  data() {
    return {
      role: localStorage.getItem('role'),
      modal: false,
      modalModel: {},
      coursesByFaculty: [],
      groupsByCourse: [],
      searchText: '',
      action: '',
      filter: {
        facultyId: null,
        courseId: null,
        groupId: null,
      },
      passportSeries: [],

      students: [],
      student: {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        facultyId: 0,
        courseId: 0,
        studentGroupId: 0,
        login: '',
        password: '',
        photoPath: '',
        phoneNumber: '',
        email: '',
        passportSeries: '',
      },
    }
  },
  methods: {
    addPassportSeries() {
      let pass = this.passportSeries.map((el) => {
        return {
          passportSeries: el,
        }
      })
      this.$http.post(`/api/studentcheckingparameter/${this.filter.groupId}`, pass).then((response) => {
        response.data.data.forEach((el) => {
          this.students.push(el)
        })
        this.$toast.success('Успешно добавлен!').goAway(5000)
        this.passportSeries = []
      })
    },
    edit() {
      this.$http
        .put(`/api/studentcheckingparameter/${this.student.id}`, {
          passportSeries: this.student.passportSeries.trim(),
          groupId: this.student.groupId,
        })
        .then((response) => {
          this.$toast.success('Успешно изменен!').goAway(5000)
          this.$bvModal.hide('profile-modal')
        })
    },

    getCourses() {
      this.$http.get(`/api/course/faculty/${this.filter.facultyId}`).then((response) => {
        this.coursesByFaculty = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getGroups() {
      this.$http.get(`/api/group/course/${this.filter.courseId}`).then((response) => {
        this.groupsByCourse = response.data.data.map((el) => {
          return {
            text: el.name,
            value: el.id,
            facultyId: el.facultyId,
          }
        })
      })
    },
    getStudents() {
      this.$http.get(`/api/studentcheckingparameter/group/${this.filter.groupId}`).then((response) => {
        this.students = response.data.data
      })
    },
    // getAllStudents() {
    //   this.$http.get(`/api/student/university/1`).then(response => {
    //     this.students = response.data.data;
    //     this.students.forEach(element => {
    //       element.birthDayDate = this.ISOtoDate(element.birthDayDate);
    //     });
    //   });
    // },

    resetFields() {
      this.student = {
        firstName: '',
        lastName: '',
        middleName: '',
        birthDayDate: '',
        facultyId: 0,
        courseId: 0,
        studentGroupId: 0,
        login: '',
        password: '',
        photoPath: '',
        phoneNumber: '',
        email: '',
        passportSeries: '',
      }
    },
    addModal() {
      this.$bvModal.show('profile-modal')
      this.action = 'register'
    },
    editModal(profile) {
      this.student = { ...profile }
      this.action = 'edit'
      this.$bvModal.show('profile-modal')
    },
    editStudent() {
      let birthDayDate = this.dateToISO(this.student.birthDayDate)

      this.$http
        .put(`/api/student/${this.student.id}`, {
          ...this.student,
          birthDayDate,
        })
        .then((response) => {
          this.$toast.success('Успешно изменен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
    removeStudent(profile) {
      this.$bvModal
        .msgBoxConfirm('Вы действительно хотите удалить?', {
          title: profile.passportSeries,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/studentcheckingparameter/${profile.id}`).then((response) => {
              this.students.splice(this.students.indexOf(profile), 1)
              this.$toast.info('Данные удалены!').goAway(1500)
            })
          }
        })
        .catch((err) => {
          // An error occurred
        })
    },

    register() {
      let birthDayDate = this.dateToISO(this.student.birthDayDate)

      this.$http
        .post(`/api/student`, {
          ...this.student,
          birthDayDate,
        })
        .then((response) => {
          this.students.push(response.data.data)
          this.$toast.success('Успешно добавлен!').goAway(5000)
        })
        .catch((e) => {
          this.$toast.error(e.response.errorMessage).goAway(5000)
        })
      this.$bvModal.hide('profile-modal')
    },
  },
  computed: {
    filteredUsers() {
      return this.students.filter((student) => {
        return student.passportSeries.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  filters: {
    firstLetter(value) {
      return value.charAt(0)
    },
  },
}
</script>
<style lang="scss" scoped>
.icon:hover {
  cursor: pointer;
}
.hover {
  transition: 0.3s;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    transition: 0.3s;
  }
}
</style>