<template>
  <b-container>
    <div>
      <b-form-radio-group
        v-model="selected"
        :options="options"
        @input="getAnswers"
        class="mb-3"
        value-field="item"
        text-field="name"
      ></b-form-radio-group>
    </div>
    <b-card no-body>
      <b-overlay :show="show">
        <b-tabs content-class="mt-3" card fill justified>
          <!-- lesson text exercises -->
          <b-tab title="Самостоятельная работа">
            <div class="mt-2" v-for="answeredTextExercise in answeredTextExercises" :key="answeredTextExercise.id">
              <b-card
                v-show="!answeredTextExercise.isVerified"
                header-text-variant="white"
                :header-bg-variant="answeredTextExercise.isVerified ? 'success' : 'danger'"
              >
                <template v-slot:header>
                  <h6>Студент: {{ answeredTextExercise.studentId }}</h6>
                </template>

                <h6>{{ answeredTextExercise.question }}</h6>
                <div><a :href="`${env.API_URL}/${answeredTextExercise.filePath}`">Работа студента</a></div>
                <b-row class="mt-3">
                  <b-col>
                    <b-form-textarea
                      :disabled="selected == '/old'"
                      v-model="answeredTextExercise.comment"
                      placeholder="Комментарий к работе"
                    ></b-form-textarea>
                  </b-col>
                  <b-col>
                    <b-form-select
                      :disabled="selected == '/old'"
                      v-model="answeredTextExercise.mark"
                      :options="marks"
                      placeholder="Оценка"
                    ></b-form-select>
                  </b-col>
                  <b-col v-if="selected != '/old'">
                    <b-button @click="checkTextExercise(answeredTextExercise)" variant="primary">Отправить</b-button>
                  </b-col>
                </b-row>
              </b-card>
            </div>
          </b-tab>

          <!-- lesson open tests -->
          <!-- <b-tab title="Открытые вопросы">
            <div
              class="mt-2"
              v-for="answeredOpenQuestion in answeredOpenQuestions"
              :key="answeredOpenQuestion.id"
            >
              <b-card
                v-show="!answeredOpenQuestion.isVerified"
                header-text-variant="white"
                :header-bg-variant="answeredOpenQuestion.isVerified ? 'success' : 'danger'"
              >
                <template v-slot:header>
                  <h6>Студент: {{answeredOpenQuestion.studentId}}</h6>
                  <h6>Вопрос: {{answeredOpenQuestion.question}}</h6>
                </template>
                <p>{{answeredOpenQuestion.answer}}</p>

                <b-row class="mt-3">
                  <b-col>
                    <b-form-textarea
                      :disabled="selected == '/old'"
                      v-model="answeredOpenQuestion.comment"
                      placeholder="Комментарий к работе"
                    ></b-form-textarea>
                  </b-col>
                  <b-col>
                    <b-form-select
                      :disabled="selected == '/old'"
                      v-model="answeredOpenQuestion.mark"
                      :options="marks"
                      placeholder="Оценка"
                    ></b-form-select>
                  </b-col>
                  <b-col v-if="selected != '/old'">
                    <b-button
                      @click="checkOpenQuestion(answeredOpenQuestion)"
                      variant="primary"
                    >Отправить</b-button>
                  </b-col>
                </b-row>
              </b-card>
            </div>
            <div class="mt-2 text-right"></div>
          </b-tab>-->

          <!-- lesson tests -->
          <b-tab title="Тесты">
            <b-card class="mt-3" v-for="(studentTest, $j) in byStudentId" :key="$j">
              <!-- {{studentTest}} {{$j}} -->
              <template v-slot:header>
                <h6>Студент: {{ $j }}</h6>
              </template>
              <div class="mt-2" v-for="(answeredTest, $i) in studentTest.studentAnswers" :key="$i">
                <h6>{{ $i + 1 }}. {{ answeredTest.test.question }}</h6>
                <b-form-radio
                  v-for="(answer, $k) in answeredTest.possibleAnswers"
                  :key="$k"
                  :value="answer.id"
                  :state="answer.isCorrect"
                  :name="answeredTest.test.question + $j"
                  v-model="answeredTest.possibleAnswerId"
                  disabled
                >
                  {{ answer.answer }}
                </b-form-radio>
              </div>

              <b-row class="mt-3">
                <b-col>
                  <b-form-textarea
                    :disabled="selected == '/old'"
                    v-model="studentTest.comment"
                    placeholder="Комментарий к работе"
                  ></b-form-textarea>
                </b-col>
                <b-col>
                  <b-form-input
                    :disabled="selected == '/old'"
                    v-model="studentTest.mark"
                    placeholder="Оценка"
                  ></b-form-input>
                </b-col>
                <b-col v-if="selected != '/old'">
                  <b-button @click="checkTest(studentTest)" variant="primary">Отправить</b-button>
                </b-col>
              </b-row>
            </b-card>
            <div class="mt-2 text-right"></div>
          </b-tab>
        </b-tabs>
      </b-overlay>
    </b-card>
  </b-container>
</template>
<script>
export default {
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  data() {
    return {
      show: false,
      selected: '',
      options: [
        { item: '/old', name: 'Проверенные' },
        { item: '', name: 'Непроверенные' },
      ],
      lesson: {},
      marks: [
        { text: '0', value: 0 },
        { text: '1', value: 1 },
        { text: '2', value: 2 },
        { text: '3', value: 3 },
        { text: '4', value: 4 },
        { text: '5', value: 5 },
      ],
      answeredOpenQuestions: [],
      answeredTests: [],
      answeredTextExercises: [],
    }
  },
  computed: {
    byStudentId() {
      var byStudentId = {}

      this.answeredTests.forEach((element) => {
        byStudentId[element.studentId] = {
          studentAnswers: [],
          lessonId: this.$route.params.lesson,
          mark: 0,
          comment: '',
          studentId: element.studentId,
        }
      })

      Object.keys(byStudentId).forEach((key) => {
        this.answeredTests.forEach((element) => {
          if (key == element.studentId) {
            byStudentId[key].studentAnswers.push(element)
          }
        })
      })

      this.show = false
      return byStudentId
    },
  },
  mounted() {
    this.show = true
    this.$http
      .get(`/api/checkanswer/lesson/${this.$route.params.lesson}`)
      .then((response) => {
        this.lesson = response.data.data
        this.$store.commit('collections/setTitle', this.lesson.lessonName)
      })
      .then(() => {
        // this.show = false;
      })
    this.getAnswers()
  },
  methods: {
    checkTextExercise(checkedTestExercise) {
      delete checkedTestExercise.studentId
      delete checkedTestExercise.question
      delete checkedTestExercise.filePath
      delete checkedTestExercise.textExerciseId
      delete checkedTestExercise.isVerified
      delete checkedTestExercise.id
      delete checkedTestExercise.id
      this.$http.post('/api/checkanswer/text_exercise', checkedTestExercise).then((response) => {
        this.answeredTextExercises.splice(this.answeredTextExercises.indexOf(checkedTestExercise), 1)
        this.checkedTestExercise = {
          textExerciseAnswerId: null,
          mark: null,
          comment: '',
        }
        this.$toast.success('Оценка поставлена!').goAway(1500)
      })
    },

    checkOpenQuestion(answeredOpenQuestion) {
      delete answeredOpenQuestion.studentId
      delete answeredOpenQuestion.question
      delete answeredOpenQuestion.answer
      delete answeredOpenQuestion.openQuestionId
      delete answeredOpenQuestion.isVerified
      delete answeredOpenQuestion.id
      this.$http.post('/api/checkanswer/open_question', answeredOpenQuestion).then((response) => {
        this.answeredOpenQuestions.splice(this.answeredOpenQuestions.indexOf(answeredOpenQuestion), 1)
        this.checkedTestExercise = { textExerciseAnswerId: null, mark: null, comment: '' }
        this.$toast.success('Оценка поставлена!').goAway(1500)
      })
    },
    checkTest(test) {
      delete test.studentAnswers
      this.$http.post('/api/checkanswer/test', test).then((response) => {
        this.$toast.success('Оценка поставлена!').goAway(1500)
      })
    },
    getAnswers() {
      this.show = true

      this.$http
        .get(`/api/checkanswer/lesson/${this.$route.params.lesson}/open_questions${this.selected}`)
        .then((response) => {
          this.answeredOpenQuestions = response.data.data
          this.answeredOpenQuestions.forEach((answeredOpenQuestion) => {
            answeredOpenQuestion.openQuestionAnswerId = answeredOpenQuestion.id

            answeredOpenQuestion.comment = ''
            answeredOpenQuestion.mark = null
          })
        })

      this.$http
        .get(`/api/checkanswer/lesson/${this.$route.params.lesson}/tests${this.selected}`)
        .then((response) => {
          this.answeredTests = response.data.data
          // if (!this.answeredTests.length) this.show = false;
        })
        .then(() => {
          this.show = false
        })

      this.$http
        .get(`/api/checkanswer/lesson/${this.$route.params.lesson}/text_exercises${this.selected}`)
        .then((response) => {
          this.answeredTextExercises = response.data.data
          this.answeredTextExercises.forEach((answeredTextExercise) => {
            answeredTextExercise.textExerciseAnswerId = answeredTextExercise.id
            answeredTextExercise.comment = ''
            answeredTextExercise.mark = 0
          })
        })
    },
  },
}
</script>