<template>
  <b-container fluid>
    <b-row align-h="between" class="actions mb-1">
      <b-col cols="6">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
    </b-row>
    <b-overlay :show="show">
      <b-row>
        <b-col md="4" lg="3" sm="12" class="mt-3 list-complete-item" v-for="lesson in filteredLessons" :key="lesson.id">
          <nuxt-link :to="`/check-answers/${$route.params.subject}/${lesson.lessonId}`">
            <b-card :title="lesson.lessonName">
              <!-- <template v-slot:header>
                <b-badge variant="success">Проверено: {{lesson.verifiedAnswers}}</b-badge>
                <b-badge variant="danger">Непроверено: {{lesson.unverifiedAnswers}}</b-badge>
              </template>-->
              <div class="theme-img">
                <b-card-img
                  v-if="lesson.photoPath != ''"
                  :src="`${env.API_URL}/${lesson.photoPath}`"
                  alt="Image"
                  img-top
                ></b-card-img>
                <b-card-img v-else src="~static/img/lesson.jpg" alt="Image" img-header></b-card-img>
              </div>
              <b-button v-if="teacher" @click.prevent.stop="deleteLesson(lesson)" variant="danger float-right">
                <fa icon="trash" />
              </b-button>
            </b-card>
          </nuxt-link>
        </b-col>
      </b-row>
    </b-overlay>
  </b-container>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      show: false,
      lessons: [],
      subjectName: '',
      teacher: false,
      searchText: '',
    }
  },
  mounted() {
    this.teacher = localStorage.getItem('role') == 'teacher' ? true : false

    this.$http.get(`/api/subject`).then((response) => {
      this.subjectName = response.data.data.filter((item) => {
        return item.id == this.$route.params.subject
      })[0].name
    })

    this.show = true
    this.$http
      .get(`/api/checkanswer/subject/${this.$route.params.subject}/lessons`)
      .then((response) => {
        this.lessons = response.data.data
      })
      .then(() => {
        this.show = false
      })
  },
  computed: {
    filteredLessons() {
      return this.lessons.filter((lesson) => {
        return lesson.lessonName.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  methods: {
    deleteLesson(lesson) {
      this.$bvModal
        .msgBoxConfirm(lesson.name, {
          title: `Действительно хотите удалить урок?`,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/lesson/${lesson.id}`).then((response) => {
              this.lessons.splice(this.lessons.indexOf(lesson), 1)
              this.$toast.error('Урок Удален!').goAway(1500)
            })
          }
        })
    },
  },
}
</script>

<style scoped>
.card {
  min-height: 9rem;
}
</style>
