<template>
  <b-form @submit.prevent="save">
    <Loader v-if="loading" :fixed="true" :progress="uploadPercentage" />

    <b-card class="mt-2" title="Название темы">
      <b-card-body>
        <div>
          <b-form-file
            placeholder="Картинка урока"
            v-model="file"
            :state="Boolean(file)"
            @input="fileUpload('photo')"
            accept="image/*"
          ></b-form-file>
          <b-form-input class="mt-2" v-model="lesson.Name" placeholder="Название темы" required></b-form-input>
        </div>

        <h6 class="mt-2">Видеоматериал</h6>
        <div v-for="(lessonVideo, i) in lessonVideos" :key="i">
          <b-form class="row mt-2">
            <div class="col-4">
              <b-input
                required
                :state="!!lessonVideo.name"
                v-model="lessonVideo.name"
                placeholder="Название файла"
              ></b-input>
            </div>

            <div class="col-4">
              <b-form-file
                placeholder="Закрепить видео"
                v-model="file"
                :state="Boolean(file)"
                @input="fileUpload('video', i)"
                accept="video/mp4"
              ></b-form-file>
            </div>
          </b-form>
          <p>
            Убедитесь, что формат видеоролика
            <code>.mp4</code>.
          </p>
        </div>
      </b-card-body>
    </b-card>

    <b-card class="mt-2" title="План">
      <b-card-body>
        <div>
          <wysiwyg v-model="content.plan" :config="config" />
        </div>
      </b-card-body>
    </b-card>

    <b-card class="mt-2" title="Глоссарий">
      <b-card-body>
        <div>
          <wysiwyg v-model="content.glossary" placeholder="Термины, понятия по теме" />
        </div>
      </b-card-body>
    </b-card>

    <b-card class="mt-2" title="Описание темы">
      <b-card-body>
        <div>
          <wysiwyg v-model="content.description" placeholder="Описания темы" />
        </div>
      </b-card-body>
    </b-card>

    <b-card class="mt-2" title="Материал">
      <b-card-body>
        <div>
          <wysiwyg
            v-model="content.material"
            placeholder="Материал к теме"
            apiKey="mco04hhn87rzwkr0w44fgs97wqynpvbzad6glm6ywthtp5as"
          />
        </div>

        <div class="mt-2" v-for="(lessonMaterial, i) in lessonMaterials" :key="i">
          <b-form class="row">
            <div class="col-4">
              <b-input
                required
                :state="!!lessonMaterial.name"
                v-model="lessonMaterial.name"
                placeholder="Название файла"
              ></b-input>
            </div>

            <div class="col-4">
              <b-form-file
                placeholder="Закрепить документ"
                v-model="file"
                :state="!!file"
                @input="fileUpload('material', i)"
                accept=".doc, .pdf, .docx"
              ></b-form-file>
            </div>
          </b-form>
        </div>
      </b-card-body>
    </b-card>
    <div class="text-right mt-3">
      <b-button type="submit" variant="success">Сохранить</b-button>
    </div>
  </b-form>
</template>
<script>
import Loader from '~/components/Loader'
export default {
  components: { Loader },
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  data() {
    return {
      config: {
        fontFamily: true,
        charCounterCount: true,
      },
      file: null,
      uploadPercentage: 0,
      loading: false,
      loading: false,
      content: {
        plan: '',
        glossary: '',
        description: '',
        material: '',
      },
      lessonMaterial: {
        lessonId: null,
        filePath: '',
        name: '',
      },
      lessonMaterials: [
        {
          lessonId: null,
          filePath: '',
          name: '',
        },
      ],
      lesson: {
        Name: '',
        SubjectId: this.$route.params.name,
        Content: '',
        PhotoPath: '',
        TeacherId: 0,
      },
      lessonVideo: {
        name: '',
        filePath: '',
      },
      lessonVideos: [
        {
          name: '',
          filePath: '',
          lessonId: null,
        },
      ],
    }
  },
  mounted() {
    this.$store.commit('collections/setTitle', 'Создать урок')
  },
  methods: {
    fileUpload(fileType, current = null) {
      if (!this.file) return
      this.loading = true
      let photo = new FormData()
      photo.append('formFile', this.file)

      this.$http
        .post(`/api/file/upload/`, photo, {
          header: {
            'Content-Type': 'multipart/form-data',
            accept: 'text/plain',
          },
          onUploadProgress: function (progressEvent) {
            this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100))
          }.bind(this),
        })
        .then((response) => {
          switch (fileType) {
            case 'photo':
              this.lesson.PhotoPath = `api/file/download/${response.data.data}`
              this.$toast.success('Фото урока загружено.').goAway(1500)

              break
            case 'video': {
              this.lessonVideos[current].filePath = `api/file/download/${response.data.data}`
              this.lessonVideos.push(this.lessonVideo)
              this.lessonVideo = {
                name: '',
                filePath: '',
                lessonId: null,
              }
              this.$toast.success('Видеоматериал загружен.').goAway(1500)

              break
            }
            case 'material': {
              this.lessonMaterials[current].filePath = `api/file/download/${response.data.data}`
              this.lessonMaterials.push(this.lessonMaterial)
              this.lessonMaterial = {
                lessonId: null,
                filePath: '',
                name: '',
              }
              this.$toast.success('Документ загружен.').goAway(1500)
            }
          }
        })
        .catch((e) => {
          this.$toast.error('Файл не загрузился, попробуйте снова').goAway(10000)
          this.file = null
        })
        .then(() => {
          this.uploadPercentage = 0
          this.loading = false
        })
    },
    pushLessonMaterial() {},

    save() {
      this.lesson.Content = JSON.stringify(this.content)

      this.$http
        .post(`/api/lesson/`, this.lesson)
        .then((response) => {
          //BINDING LESSON_ID TO LESSON_MATERIALS
          this.lessonMaterials.forEach((lessonMaterial) => {
            lessonMaterial.lessonId = response.data.data.id
          })

          this.lessonMaterials.forEach((lessonMaterial) => {
            if (lessonMaterial.filePath != '') {
              this.$http.post('/api/lessonmaterial', lessonMaterial).then((response) => {
                this.$toast.success('Урок добавлен!').goAway(2000)
              })
            }
          })

          this.lessonVideos.forEach((lessonVideo) => {
            if (lessonVideo.filePath != '') {
              this.$http.post(`/api/lesson/${response.data.data.id}/video`, lessonVideo).then((response) => {
                this.$toast.success(`Видео ${lessonVideo.name} добавлено!`).goAway(2000)
              })
            }
          })
        })
        .then(() => {
          this.$router.go(-1)
        })
    },
  },
}
</script>
<style scoped>
input {
  overflow: hidden;
}
.was-validated .custom-file-input:valid ~ .custom-file-label,
.custom-file-input.is-valid ~ .custom-file-label {
  overflow: hidden !important;
}
</style>