<template>
  <div>
    <b-row align-h="between" class="actions mb-1">
      <b-col sm="12" md="4" lg="4">
        <b-input class v-model="searchText" placeholder="Поиск"></b-input>
      </b-col>
      <b-col cols="6 text-right">
        <nuxt-link v-if="teacher" :to="`/subject/${$route.params.name}/add-lesson`" class="btn btn-primary white">
          Создать урок
        </nuxt-link>
      </b-col>
    </b-row>

    <b-overlay :show="show">
      <b-row>
        <b-col md="4" sm="12" class="mt-3" v-for="lesson in filteredLessons" :key="lesson.id">
          <nuxt-link :to="`/subject/${$route.params.name}/${lesson.id}`">
            <b-card :title="lesson.name">
              <div class="theme-img">
                <b-card-img
                  v-if="lesson.photoPath != ''"
                  :src="`${env.API_URL}/${lesson.photoPath}`"
                  alt="Image"
                  img-top
                ></b-card-img>
                <b-card-img v-else src="~static/img/lesson.jpg" alt="Image" img-header></b-card-img>
              </div>
              <b-button v-if="teacher" @click.prevent.stop="deleteLesson(lesson)" variant="danger mt-2 float-right">
                <fa icon="trash" />
              </b-button>
            </b-card>
          </nuxt-link>
        </b-col>
      </b-row>

      <hr />
      <b-button v-b-tooltip.hover title="Нажмите чтобы скрыть" variant="primary" v-b-toggle.collapse-1>
        Группы изучающие данную дисциплину
      </b-button>
      <b-collapse visible id="collapse-1" class="mt-2">
        <b-row>
          <b-col cols="2" v-for="group in groups" :key="group.id">
            <b-card class="group-card mt-3">
              <h6>{{ group.name }}</h6>
            </b-card>
          </b-col>
        </b-row>
      </b-collapse>
    </b-overlay>
  </div>
</template>

<script>
export default {
  components: {},
  beforeDestroy() {
    this.$store.commit('collections/setTitle', '')
  },
  data() {
    return {
      show: false,
      groups: [],
      lessons: [],
      subjectName: '',
      teacher: false,
      searchText: '',
    }
  },
  mounted() {
    this.teacher = localStorage.getItem('role') == 'teacher' ? true : false
    this.show = true

    this.$http.get(`/api/subject`).then((response) => {
      this.subjectName = response.data.data.filter((item) => {
        return item.id == this.$route.params.name
      })[0].name
      this.$store.commit('collections/setTitle', this.subjectName)
    })

    if (this.teacher) {
      this.$http.get(`/api/group/all/subject/${this.$route.params.name}`).then((response) => {
        this.groups = response.data.data
      })
    }

    this.$http
      .get(`/api/lesson/subject/${this.$route.params.name}`)
      .then((response) => {
        this.lessons = response.data.data

        this.lessons.sort(function (a, b) {
          if (a.id > b.id) return 1
          if (a.id < b.id) return -1
          return 0
        })

        this.lessons.forEach((element) => {
          element.content = JSON.parse(element.content)
        })
      })
      .then(() => {
        this.show = false
      })
  },
  computed: {
    filteredLessons() {
      return this.lessons.filter((sub) => {
        return sub.name.toLowerCase().includes(this.searchText.toLowerCase())
      })
    },
  },
  methods: {
    search() {
      let searchText = this.searchText.toLowerCase().trim()

      this.$http
        .post(`/api/lesson/subject/${this.$route.params.name}/filter`, {
          name: searchText,
        })
        .then((response) => {
          this.lessons = response.data.data
          this.lessons.forEach((element) => {
            element.content = JSON.parse(element.content)
          })
        })
    },
    deleteLesson(lesson) {
      this.$bvModal
        .msgBoxConfirm(lesson.name, {
          title: `Действительно хотите удалить урок?`,
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'Да',
          cancelTitle: 'Нет',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true,
        })
        .then((value) => {
          if (value) {
            this.$http.delete(`/api/lesson/${lesson.id}`).then((response) => {
              this.lessons.splice(this.lessons.indexOf(lesson), 1)
              this.$toast.error('Урок Удален!').goAway(1500)
            })
          }
        })
    },
  },
}
</script>

<style scoped>
.card {
  min-height: 9rem;
}
</style>
